<div class="card">
    <div class="card-header">
        <span class="widget-icon"> <i class="fa fa-desktop text-white"></i> </span>
        <h2> Data Uploads </h2>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <tbody>
                @*the old data import functions have been commented out here, so it is hidden in the UI, please do not delete*@

                @*<tr>
                        <td>
                            FANZ PI FAP Programme Data Import
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/FANZImportOwners">Upload Owners/Advisors</a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/FANZImportAdvisors">Upload Non Principal Advisors</a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/FANZPIPreRenewData">Upload PI FAP PreRenewData</a>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            FANZ ML Programme Data Import
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/FANZImportML">Upload ML Client</a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/FANZMLPreRenewData">Upload ML PreRenewData</a>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            FANZ Run Off Programme Data Import
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/FANZImportRO">Upload Run Off Client</a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/FANZROPreRenewData">Upload Run Off PreRenewData</a>
                        </td>
                        <td>
                        </td>
                    </tr>*@
                @*<tr>
                        <td>
                            NZACS Data Import (Client, Principals, etc)
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/AONImportUsers">Upload Clients</a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/AONImportPrincipals">Upload Principals</a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/AONImportContracts">Upload Contracts</a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/AONImportClaims">Upload Notification</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            CEAS Data Import (Client, Principals, etc)
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/CEASImportUsers">Upload Clients</a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/CEASImportPrincipals">Upload Principals</a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/CEASImportContracts">Upload Contracts</a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/CEASImportClaims">Upload Notifications</a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/CEASUpdateUsers">Correct Client User</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            PMINZ Data Import (Client, Personnel, etc)
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/PMINZImportUsers">Upload Clients</a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/PMINZImportPrincipals">Upload Principals</a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/PMINZImportContracts">Upload Contracts</a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/PMINZImportPreRenewData">Upload Pre-Renew Data</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            DANZ Data Import (Client, Personnel, etc)
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/DANZImportUsers">Upload Clients</a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/DANZImportPersonnel">Upload Personal</a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/DANZImportClaims">Upload Notifications</a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/DANZImportPreRenewData">Upload Pre-Renew Data</a>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            AAA Data Import (PrincipalAdvisor, Advisors, etc)
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/AAAImportPrincipals">Upload PrincipalAdvisor</a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/AAAImportAdvisors">Upload Advisors</a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/NZPIImportContractors">Upload Contractors</a>
                        </td>
                    </tr>

                            <tr>
                                <td>
                                    NZPI Data Import
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="~/Admin/NZPIImportOwners">Upload Owners/Planners</a>
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="~/Admin/NZPIImportPlanners">Upload Planners</a>
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="~/Admin/NZPIImportContractors">Upload Contractors</a>
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="~/Admin/NZPIImportPreRenewData">Upload PreRenewData</a>
                                </td>
                            </tr>*@
                @*<tr>
                        <td>
                            Apollo Data Import
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/ApolloImportOwners">Upload Owners/Advisors</a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/ApolloImportPreRenewData">Upload PreRenewData</a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/ApolloSetELDefaultVale">Set EL Default Vale</a>
                        </td>
                    </tr>*@
                @*<tr>
                        <td>
                            Abbott Data Import
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/AbbottImportOwners">Upload Owners/Advisors</a>
                        </td>
                        <td>
                            <a class="btn btn-primary btn-sm" href="~/Admin/AbbottImportPreRenewData">Upload PreRenewData</a>
                        </td>
                    </tr>*@
                <!--<tr>
                <td>
                    NZFSG 2021 Data Import (ML and Run Off programme clients)
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" href="~/Admin/NZFSGImportPIUsers">Upload PI Clients Renew</a>
                </td>
                <td>-->
                @*<a class="btn btn-primary btn-sm" href="~/Admin/NZFSGImportPIUsersNewCompany">Upload PI Clients Create New Company</a>*@
                <!--</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="~/Admin/NZFSGImportPIUsersNewAll">Upload PI Clients Create New Company and User</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        NZFSG 2021 Data Import (ML and Run Off programme clients)
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="~/Admin/NZFSGImportMLUsers">Upload ML Clients Renew</a>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="~/Admin/NZFSGImportMLUsersNewCompany">Upload ML Clients Create New Company</a>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="~/Admin/NZFSGImportMLUsersNewAll">Upload ML Clients Create New Company and User</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        NZFSG 2021 Data Import (ML and Run Off programme clients)
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="~/Admin/NZFSGImportROUsers">Upload Run Off Clients</a>
                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                </tr>-->
                <tr>
                    <td>
                        FANZ ML Programme Data Import
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="~/Admin/NZFSGImportPInewUsers">Upload ML Principal</a>
                    </td>

                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    function ClearMerchantForm() {
        $("#merchantUserName").val("");
        $("#merchantPassword").val("");
        $("#merchantKey").val("");
        $("#merchantReference").val("");
    }
</script>