<div class="card">
    <div class="card-header">
        <span class="widget-icon"> <i class="fa fa-desktop text-white"></i> </span>
        <h2> Data Uploads </h2>
    </div>
    <div class="card-body">
        <table class="table table-bordered">
            <tbody>
                @*the old data import functions have been commented out here, so it is hidden in the UI, please do not delete*@


                <tr>
                    <td>
                        NZBar Programme Data Import
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="~/Admin/NZBarImportOwners">Upload Owners</a>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="~/Admin/NZBarImportClaims">Upload Notification</a>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="~/Admin/NZBarPreRenewData">Upload PreRenewData</a>
                    </td>

                </tr>
                <tr>
                    <td>
                        Rotary Programme Data Import
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="~/Admin/RotaryImportUsers">Upload Owners</a>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="~/Admin/UploadUserLdap">Upload users to Ldap</a>
                    </td>
                    @*<td>
            <a class="btn btn-primary btn-sm" href="~/Admin/NZBarImportClaims">Upload Notification</a>
        </td>
        <td>
            <a class="btn btn-primary btn-sm" href="~/Admin/NZBarPreRenewData">Upload PreRenewData</a>
        </td>*@

                </tr>

                <tr>
                    <td>
                        Real Estate Programme Data Import
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="~/Admin/ImportMREOwners">Upload Owners</a>
                    </td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="~/Admin/MREPreRenewData">Upload PreRenewData</a>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
    function ClearMerchantForm() {
        $("#merchantUserName").val("");
        $("#merchantPassword").val("");
        $("#merchantKey").val("");
        $("#merchantReference").val("");
    }
</script>