*.sln.cache
*.suo
*.pidb
*.userprefs
*.usertasks
*.mdb
*.pdb
*.xml
.DS_Store
[Oo]bj/
[Bb]in/
*.cache
sqlite3
*.dtbcache
/web.config
/packages
.vscode
/.vs/DealEngine/DesignTimeBuild/.dtbcache.v2
.vs/DealEngine/config/applicationhost.config
/.vs/DealEngine/config/applicationhost.config
/.vs/DealEngine/v16/TestStore/0/000.testlog
/.vs/DealEngine/v16/TestStore/0/testlog.manifest
/DealEngine.WebUI/wwwroot/Data/5f4f9a19-c948-425a-b306-c7f5cba56d86
/DealEngine.WebUI/wwwroot/Documents
/DealEngine.WebUI/appsettings.json
/DealEngine.WebUI/wwwroot/Image/*
!/DealEngine.WebUI/wwwroot/Image/.gitkeep
/.vs
