@model DealEngine.WebUI.Models.ProductModels.RoleViewModel

<div id="content">
    <article class="container">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="card">
            <div class="card-header">
                <header>
                    <h2>Create a new Role</h2>
                </header>
            </div>

            <div class="card-body">
                <form action="#" id="myForm" role="form" data-bs-toggle="validator" method="post" accept-charset="utf-8" novalidate="true" _lpchecked="1">
                    <!-- SmartWizard html -->
                    <div id="smartwizard" class="sw-main sw-theme-circles">
                        <ul class="nav nav-tabs step-anchor">
                            <li class="nav-item active">
                                <a href="#step-1"> <span class="nav-link">1</span> <span class="title"></span> </a>
                            </li>
                            <li class="nav-item">
                                <a href="#step-2"> <span class="nav-link">2</span> <span class="title"></span> </a>
                            </li>
                        </ul>

                        <div class="sw-container tab-content" style="min-height: 152px;">
                            <div id="step-1" class="tab-pane step-content" style="display: block;">
                                @await Html.PartialAsync("DisplayTemplates/RoleBuilderVM", Model.Builder)                                        
                            </div>

                            <div id="step-2" class="tab-pane step-content" style="display: none;">
                                @await Html.PartialAsync("DisplayTemplates/RoleBuilderAttach", Model.RoleAttach)                                       
                            </div>

                        </div>

                    </div>

                </form>
            </div>
        </div>
    </article>
</div>

@section pagespecific {    
    <link href="~/smartwizard/cc/smart_wizard_theme_circles.css" rel="stylesheet" />    
    <script src="~/smartwizard/js/jquery.smartWizard.min.js" defer></script>
    <script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!
        $(document).ready(function () {

            $('#smartwizard').smartWizard({
                selected: 0,  // Initial selected step, 0 = first step
                keyNavigation: true, // Enable/Disable keyboard navigation(left and right keys are used if enabled)
                autoAdjustHeight: true, // Automatically adjust content height
                cycleSteps: false, // Allows to cycle the navigation of steps
                backButtonSupport: true, // Enable the back button support
                useURLhash: true, // Enable selection of the step based on url hash
                lang: {  // Language variables
                    next: 'Next',
                    previous: 'Previous'
                },
                toolbarSettings: {
                    toolbarPosition: 'bottom', // none, top, bottom, both
                    toolbarButtonPosition: 'right', // left, right
                    showNextButton: true, // show/hide a Next button
                    showPreviousButton: true, // show/hide a Previous button

                },
                anchorSettings: {
                    anchorClickable: true, // Enable/Disable anchor navigation
                    enableAllAnchors: false, // Activates all anchors clickable all times
                    markDoneStep: true, // add done css
                    enableAnchorOnDoneStep: true // Enable/Disable the done steps navigation
                },
                contentURL: null, // content url, Enables Ajax content loading. can set as data data-content-url on anchor
                disabledSteps: [],    // Array Steps disabled
                errorSteps: [],    // Highlight step with errors
                theme: 'dots',
                transitionEffect: 'fade', // Effect on navigation, none/slide/fade
                transitionSpeed: '400'
            });

        });

        function SubmitRole() {
            event.preventDefault();
            var role = $('#Builder_Role').val();
            var programmeId = $('#RoleAttach_SelectedProgramme').val();
            var postData = { Role: role, ProgrammeId: programmeId };
            $.ajax({
                type: "POST",
                url: '@Url.Action("CreateRoleForProgramme", "Product")',
                data: postData
            })
                .done(function (json) {
                    debugger;
                })
                .fail(function (err, ajaxOptions, thrownError) {
                    debugger;
                });
        }        
    </script>
}