@model DealEngine.WebUI.Models.Programme.ProgrammeInfoViewModel

<article class="container">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h2>Create Programme</h2>
            </div>
            <div class="card-body">
                <div id="smartwizardprogramme" class="sw-main sw-theme-circles">
                    <ul class="nav nav-tabs step-anchor">
                        <li class="nav-item active"><a href="#programme1" class="nav-link">1<br><small>Programme</small></a></li>
                        <li class="nav-item"><a href="#programme2" class="nav-link">2<br><small>Product</small></a></li>
                        <li class="nav-item"><a href="#programme3" class="nav-link">3<br><small>Templates</small></a></li>
                        <li class="nav-item"><a href="#programme4" class="nav-link">3<br><small>Information Sheet</small></a></li>
                        <li class="nav-item"><a href="#programme5" class="nav-link">3<br><small>Submit</small></a></li>
                    </ul>

                    <div class="sw-container tab-content">
                        <div id="programme1" class="tab-pane step-content" style="display: block;">
                            @await Html.PartialAsync("ProgrammeFormPartial", Model)
                        </div>
                        <div id="programme2" class="tab-pane step-content">
                            @await Html.PartialAsync("../Product/CreateProduct", Model.ProductViewModel)
                        </div>
                        <div id="programme3" class="tab-pane step-content">
                            @await Html.PartialAsync("../InformationTemplate/CreateInformationTemplate", Model.InformationBuilderViewModel)
                        </div>
                        <div id="programme4" class="tab-pane step-content">
                            @await Html.PartialAsync("../Information/CreateInformationSheet")
                        </div>
                        <div id="programme5" class="tab-pane step-content">
                            <p>submit</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

@section pagespecific {

    @Html.Partial("_ProgrammeScripts")

}