<link href="~/jqueryui/jquery-ui.css" rel="stylesheet" />
<script src="~/jquery/jquery.min.js"></script>
<script src="~/jqueryui/jquery-ui.js"></script>
<script type="text/javascript">

    $("#checkedAll").click(function () {
        if (this.checked) {
            $(".PartyOrg").each(function () {
                this.checked = true;
            });
        } else {
            $(".PartyOrg").each(function () {
                this.checked = false;
            });
        }
    });

    $(".PartyOrg").click(function () {
        if ($(this).is(":checked")) {
            var isAllChecked = 0;
            $(".PartyOrg").each(function () {
                if (!this.checked)
                    isAllChecked = 1;
            });

            if (isAllChecked == 0) {
                $("#checkedAll").prop("checked", true);
            }
        } else {
            $("#checkedAll").prop("checked", false);
        }
    });

    function selectorgUser() {
        debugger;
        var SelectedParty = $('#selectParty').val();
        var InformationId = $('#Id').val();

        $.ajax({
            url: '@Url.Action("selectedParty", "Programme")',
            type: "Post",
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ selectedParty: SelectedParty, informationId: InformationId })
        })
            .done(function (data) {
                if (data.length > 0) {
                    $('#div1').empty();
                    $('#div1').append("<label class=\"label\" id=\"User\">Select User:</label><br>");
                } else {
                    $('#div1').empty();
                    $('#div1').append("<label class=\"label\" id=\"User\">No User associated with party:</label><br>");
                };

                $.each(data, function (i, item) {
                    $('#div1').append("<input type=\"checkbox\" class=\"PartyOrg\" name=\"PartyOrg\" value=" + item.Email + ">" + item.Name + "(" + item.Email + ")" + "<br>");
                });
            });
    };

    $('#myModal').on('show.bs.modal', function (e) {
        $('.modal').css('width', '600px');
        var RuleName = $(e.relatedTarget).data('rule-name');        
        var RuleDesc = $(e.relatedTarget).data('rule-desc');
        var RuleOrder = $(e.relatedTarget).data('rule-order');
        var RuleVal = $(e.relatedTarget).data('rule-val');
        var RulId = $(e.relatedTarget).data('rule-id');
        $(e.currentTarget).find('input[name="Name"]').val(RuleName);
        $(e.currentTarget).find('input[name="Description"]').val(RuleDesc);
        $(e.currentTarget).find('input[name="OrderNumber"]').val(RuleOrder);
        $(e.currentTarget).find('input[name="Value"]').val(RuleVal);
        $(e.currentTarget).find('input[name="Id"]').val(RulId);
    });

    $("#rulebtnSubmit").click(function () {
        RuleSubmit();
    });

    function RuleSubmit() {
        var productId = $("#ProductId").val();
        var ID = $("#Id").val();
        var RuleId = $("#RuleId").val();
        var RuleName = $("#RuleName").val();
        var RuleDesc = $("#RuleDesc").val();
        var RuleOrder = parseInt($("#RuleOrder").val());
        var RuleVal = $("#RuleVal").val();
        var prodData = {
            "Name": RuleName,
            "Description": RuleDesc,
            "OrderNumber": RuleOrder,
            "Value": RuleVal,
            "ClientAgreementRuleID": RuleId
        };

        $.ajax({
            url: '@Url.Action("EditRule", "Programme")',
            type: "Post",
            data: prodData
        })
            .done(function (data) {
                alert("success");
                $("#myModalId").click();
                location.reload(true);
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                debugger;
                alert("There was an error while trying to save the Boat Use.");
            });
    }

    $('#ChangeEffectiveDate').datepicker({
        dateFormat: "dd/mm/yy"
    });

    $("#btnChangeSubmit").click(function () {
        var valid = ValidateReason();
        if (valid) {
            ReasonSubmit();
        }
    });

    function ValidateReason() {
        var changeType = $("#ChangeType").val();
        var changeReason = $("#ChangeReason").val();
        var description = $("#Description").val();
        var changeEffectiveDate = $("#ChangeEffectiveDate").val();
        var validation = true;

        if (changeType == "") {
            $('#validateChangeType').html("<font color='red'>Field is required</font>");
            if (validation) {
                validation = false;
            }
        } else {
            $('#validateChangeType').html("");
        }

        if (changeReason == "") {
            $('#validateChangeReason').html("<font color='red'>Field is required</font>");
            if (validation) {
                validation = false;
            }
        } else {
            $('#validateChangeReason').html("");
        }

        if (description == "") {
            $('#validateDescription').html("<font color='red'>Field is required</font>");
            if (validation) {
                validation = false;
            }
        } else {
            $('#validateDescription').html("");
        }

        if (changeEffectiveDate == "") {
            $('#validateEffectivedate').html("<font color='red'>Field is required</font>");
            if (validation) {
                validation = false;
            }
        } else {
            $('#validateEffectivedate').html("");
        }
        return validation;
    }


    function ReasonSubmit() {
        debugger;
        var dealId = $("#DealId").val();
        var changeType = $("#ChangeType").val();
        var changeReason = $("#ChangeReason").val();
        var description = $("#Description").val();
        var changeEffectiveDate = $("#ChangeEffectiveDate").val();
        var prodData = {
            "DealId": dealId,
            "ChangeType": changeType,
            "Reason": changeReason,
            "ReasonDesc": description,
            "EffectiveDate": changeEffectiveDate,
        };
        $('#ChangeProcess').show();
        $.ajax({
            type: "Post",
            data: prodData,
            url: "/Information/UpdateInformation",
            success: function (data) {
                $("#myChangeModal").hide();
                $('#ChangeProcess').hide();
                alert("Saved Successfully!");
                window.location.href = data.url;
            }
        })
            .done(function (data) {
        })
            .fail(function (a, s, d) {
                alert("Unable to save.");
            });
    }

</script>