@model DealEngine.WebUI.Models.ProgrammeItem
<!-- MAIN CONTENT -->
<div id="widget-grid" class="container">
    @Html.HiddenFor(m => m.Programme.Id)

    <ul class="nav">
        <li class="nav-item">
            <a class="btn btn-primary btn-sm" href="~/Home/Index"><i class="fa fa-home"></i>Back to Dashboard</a>
        </li>
    </ul>

    <div class="card">
        <div class="card-header text-white" style="background-color:#3276b1">
            <span class="widget-icon">
                <h6><i class="fa fa-table text-light"></i> Insurance Information </h6>
            </span>
        </div>
        <div class="card-body">
            @if (!User.IsInRole("Client"))
            {
                <p>You can use this search box to find anything - just type any word in the client name or status etc.</p>
            }

            @await Html.PartialAsync("_ClientProgrammeTablePartial", @Model)

        </div>
    </div>

</div>


<div id="myChangeModal" class="modal" aria-hidden="true">
    <form id="ProdForm" class="" action="~/Information/UpdateInformation" method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" style="color:blue; font-size:22px">Change Details</h3>
                    @*<button type="button" class="close" id="CreateUISModalClose" data-bs-dismiss="modal">&times;</button>*@
                    <button type="button" class="btn-close" data-bs-dismiss="modal" id=""></button>

                </div>
                <div class="modal-body">
                    <input class="form-control" hidden type="text" data-type="TEXTBOX" data-name="DealId" id="DealId" name="DealId" placeholder="Vessel Name" value="" required>

                    <table class="table table-striped">
                        <tr>

                            <td>
                                <label for="changeType" class="required">Update Type</label>
                            </td>
                            <td>
                                <select class="b form-select" id="ChangeType" name="ChangeType" title="" required>
                                    <option selected="selected" value="">-- Select here --</option>
                                    <option Value="TC_addAmendRiskInfo">Add Amend Risk Information</option>
                                    <option Value="TC_newCoverable">Add New Coverable</option>
                                    <option Value="TC_amendExcess">Amend Excess</option>
                                    <option Value="TC_amendLocation">Amend Location</option>
                                    <option Value="TC_amendSumInsured">Amend Sum Insured</option>
                                    <option Value="TC_amendTermsCoverage">Amend Terms/Coverage</option>
                                    <option Value="TC_amendAddReinsurance">Amend or Add Reinsurance</option>
                                    <option Value="TC_amendAddInsured">Amend or Add Insured</option>
                                    <option Value="TC_amendAddCI">Amend or Add Co-insurance</option>
                                    <option Value="TC_changeOfExpiryDate">Change of Expiry Date</option>
                                    <option Value="TC_changeOfBroker">Change of Broker</option>
                                    <option Value="TC_changeOfBizOrOcc">Change of Business or Occupation</option>
                                    <option Value="TC_deleteCoverable">Delete Existing Coverable</option>
                                    <option Value="TC_other">Other Amendment</option>
                                    <option Value="TC_amendOneTimeEvents">One Time Event</option>
                                </select>
                            </td>
                            <td>
                                <p class="validationContainer" id="validateChangeType"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="Reason" class="required">Reason</label>
                            </td>
                            <td>
                                <select class="form-select" id="ChangeReason" name="Reason" title="" required>
                                    <option selected="selected" value="">-- Select here --</option>
                                    <option Value="TC_businessSoldOrClosed_lgi">Business Sold or Closed</option>
                                    <option Value="TC_changeInCoverReq_lgi">Change in cover requirements</option>
                                    <option Value="TC_changeOfBroker_lgi">Change of Broker</option>
                                    <option Value="TC_dissatisfiedWithClaims_lgi">Dissatisfied with claims</option>
                                    <option Value="TC_dissatisfiedWithSvc_lgi">Dissatisfied with service</option>
                                    <option Value="TC_goneIntoGlobalAcct_lgi">Gone into Global Account</option>
                                    <option Value="TC_nonpayment">Non payment</option>
                                    <option Value="TC_policyReplaced_lgi">Policy replaced</option>
                                    <option Value="TC_tooDear_lgi">Too dear</option>
                                </select>
                            </td>
                            <td>
                                <p class="validationContainer" id="validateChangeReason"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="ReasonDesc" class="required">Reason Description</label>
                            </td>
                            <td>
                                <textarea class="form-control" data-type="TEXTAREA" id="Description" name="ReasonDesc" placeholder="Notes" value=""></textarea>
                            </td>
                            <td>
                                <p class="validationContainer" id="validateDescription"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label for="EffectiveDate" class="required">Effective Date</label>
                            </td>
                            <td>
                                <input name="BoatEffectiveDate" placeholder="Effective Date" class=" form-control" data-dateformat="dd/mm/yy" id="ChangeEffectiveDate" type="text">
                            </td>
                            <td>
                                <p class="validationContainer" id="validateEffectivedate"></p>
                            </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-xs" id="btnChangeSubmit"> Update</button>
                    @*<button id="next" type="submit" class="btn btn-success btn-sm">Submit</button>*@
                </div>
            </div>
        </div>
    </form>
</div>


<div id="myUnlockModal" class="modal" aria-hidden="true">
    <form id="ProdForm" class="" action="" method="post">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" style="color:blue; font-size:22px">Unlock Details</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" id=""></button>

                </div>
                <div class="modal-body">
                    <input class="form-control" hidden type="text" data-type="TEXTBOX" data-name="DealId" id="UnlockId" name="DealId" required>
                    <table class="table table-striped">
                        <tr>
                            <td>
                                <label for="ReasonDesc" class="required">Unlock Reason Description</label>
                            </td>
                            <td>
                                <textarea class="form-control" data-type="TEXTAREA" id="UnlockDescription" name="ReasonDesc" placeholder="Notes" value=""></textarea>
                            </td>
                            <td>
                                <p class="validationContainer" id="validateDescription"></p>
                            </td>
                        </tr>

                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-sm" onclick="postUnlockData();" data-bs-toggle="tab">Submit</button>

                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal overlay" id="CreateUISProcess" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p><img src="/img/loading.gif" /> Loading Information. Please wait...</p>
            </div>
        </div>
    </div>
</div>

<div class="modal overlay" id="ChangeProcess" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    <img src="/img/loading.gif" /> Generating Change Information Sheet.  Please wait...
                </p>

                <p>  If the Change Information Sheet does not appear after 30 seconds, please refresh the page. </p>

                <p>  If the Change Information sheet is not present on the dashboard please contact technical support. </p>

            </div>
        </div>
    </div>
</div>

@section pagespecific {

    <script type="text/javascript">
        $(window).on("load", function () {
            $("#ChangeProcess").hide();

        });
        $(document).ready(function () {
            //$.noConflict();
            $('#tableProgrammeItems').bootstrapTable();
            $('#subsystemAccodion').accordion;
            $('#ChangeEffectiveDate').datepicker({
                dateFormat: "dd/mm/yy"
            });


            $("#ReportView").click(function () {
                debugger;
                $("#ChangeProcess").show();
            });

        });


        $('#myChangeModal').on('show.bs.modal', function (e) {
            debugger;

            $('.modal').css({ "width": "50%", "margin-left": "25%" });
            var dealId = $(e.relatedTarget).data('dealitem-id');
            console.log("dealId=" + dealId)
            $(e.currentTarget).find('input[name="DealId"]').val(dealId);
            $(e.currentTarget).find('input[name="ProgrammeId"]').val("@Model.Programme.Id");
        });

        $('#myUnlockModal').on('show.bs.modal', function (e) {
            $('.modal').css({ "width": "40%", "margin-left": "30%" });
            var dealId = $(e.relatedTarget).data('dealitem-id');
            $(e.currentTarget).find('input[id="UnlockId"]').val(dealId);
        });

        function OrganisationTypeChange(Value) {
            var input = document.getElementById('OrganisationViewModel_Organisation_Type');
            if (Value == "Person - Individual") {
                Value = "Private";
            }
            input.value = Value;
        }

        function ValidateEmail() {
            var Email = $('#UISEmail').val();
            if (/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(Email)) {
                return (true)
            } else
                return (false)
        }
        function IssueUIS() {
            event.preventDefault();
            var programmeId = $('#ProgrammeId').val();
            var postData = { ProgrammeId: programmeId };
            $.ajax({
                type: 'GET',
                url: '@Url.Action("IssueUIS", "Home")',
                data: postData
            })
                .done(function (data) {
                    debugger;
                })
                .fail(function (jqXhr, textStatus, errorThrown) {
                    debugger;
                    console.log(errorThrown);
                });
        }

        function CloseModal() {
            $('#CreateUISModal').modal('hide')
            //$('#CreateUISModal').hide();
        }

        function postUnlockData() {
            debugger;
            $('#CreateUISProcess').show();
            var unlockReason = $('#UnlockDescription').val();
            var dealId = $('#UnlockId').val();
            var postData = {
                Reason: unlockReason,
                DealId: dealId
            };

            $.ajax({
                type: "Post",
                data: postData,
                url: "/Information/Unlock",
                success: function (data) {
                    $('#CreateUISProcess').hide();
                    $('#myUnlockModal').modal('hide')
                    alert("Saved Successfully!");
                    window.location.href = data.url;
                }
            })
                .done(function (data) {
                })
                .fail(function (a, s, d) {
                    debugger;
                    alert("Unable to save.");
                });
        }


    </script>
}

