@model DealEngine.WebUI.Models.ProductModels.TerritoryAttachVM

    <div id="content" class="container">
        <div class="card">
            <div class="card-header">
                <h3><strong>Setup </strong> - Attach Programme</h3>
            </div>
            <div class="card-body">
                <div class="form-group">
                    <select id="TerritoryAttach_SelectedProgramme" name="TerritoryAttach.SelectedProgramme" class="form-control form-select">
                        @foreach (var prog in Model.BaseProgList)
                        {
                            <option value="@prog.Value">@prog.Text</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn-success btn" onclick="SubmitTerritory()">Submit</button>
                </div>
            </div>
        </div>
    </div>
