@model DealEngine.WebUI.Models.AccountRegistrationModel
@{ ViewBag.PageId = "extr-page"; }

@section topright{
    <span id="extr-page-header-space" class="pull-right"> <span class="hidden-mobile">Already registered?</span> <a href="~/Account/Login" class="btn btn-danger">Sign In</a> </span>

}

<div style="font-family:Arial !important;">
    <article class="container col-sm-12 col-md-6 col-lg-6">
        <div class="container">
            <img id="banner" class="w100" src="https://s3-us-west-1.amazonaws.com/mpak.proposalonline.com/images/CG_Header_MENUNew.jpg" />
        </div>


        <div class="container">
            <div hidden>
                <ul class="nav nav-tabs d-sm-flex" id="tablist" role="tablist">
                    <!--hidden-->
                    <li class="nav-item">
                        <a class="nav-link active" id="step1" data-toggle="tab" href="#step1" role="tab" aria-controls="step1" aria-selected="true"> Step 1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="step2" data-toggle="tab" href="#step2" role="tab" aria-controls="step2" aria-selected="false"> Step 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="step3" data-toggle="tab" href="#step3" role="tab" aria-controls="step3" aria-selected="false"> Step 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="step4" data-toggle="tab" href="#step4" role="tab" aria-controls="step4" aria-selected="false"> Step 4</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="step5" data-toggle="tab" href="#step5" role="tab" aria-controls="step5" aria-selected="false"> Step 5</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="step6" data-toggle="tab" href="#step6" role="tab" aria-controls="step6" aria-selected="false"> Step 6</a>
                    </li>
                </ul>
            </div>

            <div class="tab-content" id="tabcontent">
                <div class="tab-pane fade show active" id="step1" role="tabpanel" aria-labelledby="step1">
                    <form id="quickQuote">
                        <div class="container">
                            <h1 class="text-align-center" style="font-size: 18px;font-weight: 600;font-family: Arial;text-align: center;color: black;padding-bottom: 15px; padding-top:10px" strong id="QuickQuoteText2">Tell us a little bit more about your vessel...</h1>

                            @*<select onchange="updateLabel()" id="CraftTypeDrop" class=" input-lg" hidden style="margin-top: 20px; margin-bottom: 25px;">*@
                            <select onchange="updateLabel()" id="CraftTypeDrop" class="form-select input-lg" hidden style="margin-top: 20px; margin-bottom: 25px;">
                                <option value="" selected="selected">Pick your highest value vessel.</option>
                                <option>Roadtrailer</option>
                                <option>Stored</option>
                                <option>Berthed</option>
                                <option>Moored</option>
                            </select>
                            <div><label class="text-align-center" style="margin-left: 50% !important ; font-size: 18px;font-weight: 600;font-family: Arial;color: black;padding-bottom: 15px; padding-top:10px" id="CraftType" hidden>Type Placeholder</label></div>
                        </div>
                        <br>
                        <input hidden type="number" id="rate" value=".05" />
                        <div class="row">
                            <div class="container">
                                <div>
                                    <label style="float:right; color:red;">* = Required</label>
                                </div>
                                <br />
                                <table class="table table-bordered">
                                    <tr id="mnumbfgroup" class="coastguardformtr">
                                        <td class="coastguardformtd1">
                                            <span class="input-group-addon" style="width:220px;height:28px"><label class="cgform-label" id="memNum">Coastguard Membership #<p style="color:red; float:right;">&nbsp;*</p></label></span>
                                        </td>
                                        <td class="coastguardformtd">
                                            <div class="form-group">
                                                <div class="input-group w100">
                                                    <input class="form-control input-lg" placeholder="" type="text" name="mnumb" id="mnumb" maxlength="6">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="vtypefgroup" class="coastguardformtr">
                                        <td class="coastguardformtd1">
                                            <span class="input-group-addon" style="width:220px;height:28px"><label class="cgform-label" id="VesselType">Vessel Type<p style="color:red; float:right;">&nbsp;*</p></label></span>
                                        </td>
                                        <td class="coastguardformtd">
                                            <div class="form-group">
                                                <div class="input-group w100">
                                                    @*<select onchange="updateOptions()" id="vtype" class=" input-lg" style="font-size:1.1em;" required>*@
                                                    <select onchange="updateOptions()" id="vtype" class="form-select input-lg" style="font-size:1.1em;" required>
                                                        <option id="" value="" selected="selected">-- Select --</option>
                                                        <option id="Powerboats" value="Powerboats">Powerboats</option>
                                                        <option id="Cruisers" value="CruisersandLaunches">Cruisers and Launches</option>
                                                        <option id="Yachts" value="YachtsandCatamarans">Yachts and Catamarans</option>
                                                        <option id="Jetski" value="Jetski">Jetski</option>
                                                        <option id="VOther" value="Other">Other Personal Watercraft</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="ctypefgroup" class="coastguardformtr">
                                        <td class="coastguardformtd1">
                                            <span class="input-group-addon" style="width:220px;height:28px"><label class="cgform-label" id="ConstructionType">Construction Type<p style="color:red; float:right;">&nbsp;*</p></label></span>
                                        </td>
                                        <td class="coastguardformtd">
                                            <div class="form-group">
                                                <div class="input-group w100">
                                                    @*<select id="ctype" class=" input-lg" style="font-size:1.1em;">*@
                                                    <select id="ctype" class="form-select input-lg" style="font-size:1.1em;">
                                                        <option value="" selected="selected">-- Select --</option>
                                                        <option id="Aluminium" value="Aluminium">Aluminium</option>
                                                        <option id="Steel" value="Steel">Steel</option>
                                                        <option id="Fibreglass" value="Fibreglass">Fibreglass</option>
                                                        <option id="Carbon" value="Carbon">Carbon fibre</option>
                                                        <option id="RigidHI" value="RigidHI">Rigid Hull Inflatable</option>
                                                        <option id="Wood" value="Wood">Wood/timber</option>
                                                        <option id="Cement" value="Cement">Ferro cement/ cement</option>
                                                        <option id="COther" value="Other">Other</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="hcfigfgroup" class="coastguardformtr">
                                        <td class="coastguardformtd1">
                                            <span class="input-group-addon" style="width:220px;height:28px"><label class="cgform-label" id="HullConfig">Hull Configuration<p style="color:red; float:right;">&nbsp;*</p></label></span>
                                        </td>
                                        <td class="coastguardformtd">
                                            <div class="form-group">
                                                <div class="input-group w100">
                                                    @*<select id="hcfig" class=" input-lg" style="font-size:1.1em;">*@
                                                    <select id="hcfig" class="form-select input-lg" style="font-size:1.1em;">
                                                        <option id="" value="" selected="selected">-- Select --</option>
                                                        <option id="Mono" value="Mono">Mono</option>
                                                        <option id="Catamaran" value="Catamaran">Catamaran</option>
                                                        <option id="Trimaran" value="Trimaran">Trimaran</option>
                                                        <option id="HOther" value="Other">Other</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="mtypefgroup" class="coastguardformtr">
                                        <td class="coastguardformtd1">
                                            <span class="input-group-addon" style="width:220px;height:28px"><label class="cgform-label" id="MooredType">Moored Type<p style="color:red; float:right;">&nbsp;*</p></label></span>
                                        </td>
                                        <td class="coastguardformtd">
                                            <div class="form-group">
                                                <div class="input-group w100">
                                                    @*<select id="mtype" class="input-lg" style="font-size:1.1em;">*@
                                                    <select id="mtype" class="form-select input-lg" style="font-size:1.1em;">
                                                        <option value="" selected="selected">-- Select --</option>
                                                        <option id="Pile" value="Pile">Pile</option>
                                                        <option id="Marina" value="Marina">Marina</option>
                                                        <option id="Swing" value="Swing">Swing</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="hastrfgroup" class="coastguardformtr">
                                        <td class="coastguardformtd1">
                                            <span class="input-group-addon" style="width:220px;height:28px"><label class="cgform-label" id="hastrrailer">Trailered<p style="color:red; float:right;">&nbsp;*</p></label></span>
                                        </td>
                                        <td class="coastguardformtd">
                                            <div class="form-group">
                                                <div class="input-group w100">
                                                    @*<select id="hastr" class="input-lg" style="font-size:1.1em;">*@
                                                    <select id="hastr" class="form-select input-lg" style="font-size:1.1em;">
                                                        <option value="" selected="selected">-- Select --</option>
                                                        <option id="True" value="True">Yes</option>
                                                        <option id="False" value="False">No</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="vivalfgroup" class="coastguardformtr">
                                        <td class="coastguardformtd1">
                                            <span class="input-group-addon" style="width:220px;height:28px"><label class="cgform-label" id="VesselIVal">Vessel Insured Value<p style="color:red; float:right;">&nbsp;*</p></label></span>
                                        </td>
                                        <td class="coastguardformtd">
                                            <div class="form-group">
                                                <div class="input-group w100 input-icon">
                                                    <input class="form-control input-lg" placeholder="Enter value" value="" type="number" name="vival" id="vival" min="0" required>
                                                    <i>$</i>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <div class="form-group" style="margin-bottom:0;" id="qquotfgroup">
                                    <div class="input-group w100">
                                        <button style="background-color:#00B0D3 !important; color:white;" type="submit" onclick="validationCheck('quoteNow'); return false;" class="btn btn-secondary w100">Get your Quote now</button>
                                    </div>
                                </div>
                            </div>
                            <div id="quoteResult" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-10" hidden>
                                <div style="width:100%; margin-bottom:0; font-size:1.1em;" id="qref" class="alert alert-danger" hidden>Quick Quote is not available for the combination you have selected. Please click "Please give me a call to discuss" below. </div>
                                <div id="indiQuoteSpan" class="w100" style="text-align:center">
                                    <label class="indiQuoteValue">$</label>
                                    <label class="indiQuoteValue" id="indiQuote">Placeholder</label>
                                    <label class="indiQuoteValue" style="font-size:1.4em;"> (p/month incl GST)</label>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div hidden id="quoteIncludes">
                                    <span class="font-italic" style="font-size:1.4em;">Cover includes:</span>
                                    <ul>
                                        <li style="font-size:1em;" class="font-italic">$5,000,000 third party limit</li>
                                        <li style="font-size:1em;" class="font-italic">$20,000 personal effects/fishing gear limit</li>
                                        <li style="font-size: 1em;" class="font-italic">$10,000 personal accident cover as defined</li>
                                        <li style="font-size:1em;" class="font-italic">Dedicated marine loss adjustor</li>
                                        <li style="font-size:1em;" class="font-italic">Social or Corporate Yacht Racing (under 50nm)</li>
                                    </ul>
                                    <p>This indicative quote is provided by Ando Insurance Group Limited based upon the information submitted. Ando Insurance Group Limited is an agent underwriting for and on behalf of certain underwriters at Lloyd's. This is an indicative quote only. Submitting this form does not provide insurance cover for your vessel.</p>
                                </div>
                            </div>
                            <div style="margin-bottom:50px;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div role="group" aria-label="First group">
                                    <button href="#step2" data-toggle="tab" onclick="saveQuickQuote(); return false;" style="background-color:#72BF44 !important;color:white;" id="next" type="submit" class="btn btn-secondary btn-step margin-top-10 w100 ">I LIKE IT - LET'S GO!</button>
                                    <a href="Coastguardreg" style=" width:100%; background-color:#72BF44 !important;color:white;" id="newQuote" class="btn btn-secondary margin-top-10 w100 ">Get A New Quote</a>
                                    <button href="#step2" data-toggle="tab" id="pleaseCallMe" style="width:100%;background-color:#004280 !important;color:white;" type="submit" class="btn btn-secondary margin-top-10 w100 btn-step">Please give me a call to discuss</button>
                                    <a style="width:100%; background-color:#F04E45 !important;color:white;" href="Coastguardreg" class="btn btn-secondary margin-top-10 w100 ">No Thanks, I think I'll leave it</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="tab-pane fade" id="step2" role="tabpanel" aria-labelledby="step2">
                    <div class="form-group" style="height:700px; overflow:auto; padding-top:25px;">
                        <h5><b>Financial Advice Disclosures</b></h5>
                        <div>
                            <p>
                                Marsh Limited (we, our, us) (FSP22364), trading as Marsh, Mercer Marsh Benefits and Marsh JLT Specialty, holds a licence issued
                                by the Financial Markets Authority to provide a financial advice service. It is a condition of Marsh's licence that Marsh can
                                only provide financial advice on life and health insurance products and non-life general insurance products.<br>
                                We engage financial advisers who can provide financial advice to our customers (you, your) on our behalf.<br>
                            </p>
                        </div>
                        <h5><b>Material limitations or restrictions on the scope of this advice: The Coastguard First Mate Insurance Programme</b></h5>
                        <div>
                            <p>
                                Marsh has worked with Ando Insurance Group Limited (Ando) to provide two insurance products, Vessel Insurance and Legal Liability
                                Insurance available to be purchased under the Coastguard First Mate Insurance programme.<br>
                                Ando Insurance Group Limited is an agent underwriting for and on behalf of certain underwriters at Lloyd’s. Lloyd’s has a financial
                                strength rating of A (Excellent) issued by A.M. Best, A+ (Strong) issued by Standard and Poor's,  and AA- (Very Strong) issued by
                                Fitch. Further information on the financial strength rating of Lloyd’s is available at www.lloyds.com/investor-relations/ratings.<br>
                                The Insurance products offered under this programme are limited to Vessel Insurance and Legal Liability Insurance as provided by Ando
                                Insurance. Our advice is limited to these insurance products, and solely in relation to cover for the loss or accidental damage to
                                your vessel, or for loss or damage to a third party due to your actions as set out in the Policy Wording. Please note, you must be a
                                Coastguard member to purchase this product.<br>
                                If you need advice on other types of insurance products then we can refer you to an appropriate financial adviser within our organisation.<br>
                                Our financial advisers give advice on behalf of us. You can contact us using the contact information set out at the bottom of this
                                document to find out the name of a financial adviser who can provide financial advice to you on our behalf.<br>
                            </p>
                        </div>
                        <h5><b>Fees, expenses or other amounts payable</b></h5>
                        <div>
                            <p>
                                <b>Administration Fee:</b> In addition to Broking Commission, we will charge an Administrative Fee to cover our disbursements and
                                expenses incurred in the administration and servicing of clients. This includes recovery of telephone, mobile phone, and general
                                office administration overheads which can ordinarily be regarded as disbursements incurred in the day to day running of a client
                                file. The Administration Fee for this advice will be $25.<br>
                                <b>Your insurance:</b> You will need to pay certain amounts associated with your insurance policy, such as premiums and claims
                                excess.  You may also be required to pay certain taxes and, depending on the type of insurance, statutory charges (most notably to
                                the Earthquake Commission (EQC Levy) and Fire & Emergency New Zealand (FENZ Levy)).<br>
                                <b>Credit Card Payments:</b> You must purchase the Coastguard First Mate Insurance programme by a credit card payment. When you pay
                                us by credit card, we will include an additional surcharge of 1.3% of the amount that you are paying us. The full amount of this
                                surcharge is paid to the credit card issuer.<br>
                            </p>
                        </div>

                        <h5><b>Conflicts of interest and commissions or other incentives </b></h5>
                        <div>
                            <p>
                                <b>Broking Commission (commonly known as “brokerage”):</b>Broking Commission will be paid to us by an insurer for arranging your insurance
                                policy. Broking Commission is included in the amount of the premium charged by insurer(s) and is based on a percentage of the premium, less
                                taxes and statutory charges. When you pay us the premium for your insurance policy, we retain our Broking Commission and pay the balance to
                                the insurer. The amount of Broking Commission we will receive for your insurance policy is set out below:<br>
                                <table class="table" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>Insurance Product</th>
                                            <th>Broking Commission</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Vessel Insurance </td>
                                            <td>21.5%</td>
                                        </tr>
                                        <tr>
                                            <td>Legal Liability </td>
                                            <td>21.5%</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <b>Benefits or Compensation:</b> We may, from time to time, participate in insurer funded promotional events or training and development.
                                Sometimes we are reimbursed by insurers for our costs related to promotional marketing. Marsh financial advisers may also receive non-monetary
                                benefits from insurers which may include entertainment and attendance at insurer sponsored functions. These benefits are not generally attributed
                                to any particular type of insurance or insurance policy. <br>
                                <b>Other Factors:</b> Our remuneration may be influenced by factors such as the volume of business placed with an insurer or insurer profit from
                                the business.<br>
                                To ensure that Marsh financial advisers prioritise your interests above their own, Marsh financial advisers follow an advice process that ensures
                                their recommendations are made on the basis of your goals and circumstances. All our financial advisers undergo ongoing training about how to
                                manage conflicts of interest and we have compliance policies to ensure that the conflicts identified do not create a conflict with your interests.
                                Marsh undertakes a compliance audit, and a review of our compliance programme by a reputable compliance adviser, on a regular basis.<br>
                            </p>
                        </div>
                        <h5><b>Complaints and disputes resolution process </b></h5>
                        <div>
                            <p>Information on how to make a complaint and our external dispute resolution provider is available on our website. </p>
                        </div>
                        <h5><b>Our duties</b></h5>
                        <div>
                            <p>Marsh and our financial advisers are bound by the following duties to:</p>
                            <ul>
                                <li>meet the standards of competence, knowledge and skill set out in the code of professional conduct for financial advice services (“<b>Code of Conduct</b>”);  </li>
                                <li>give priority to our customers' interests by taking all reasonable steps to ensure that the advice given to you is not materially influenced by our own interests or the interests of any other person connected with the giving of the advice;  </li>
                                <li>exercise the care, diligence and skill that a prudent person engaged in the occupation of giving regulated financial advice would exercise in the same circumstances; and  </li>
                                <li>comply with the standards of ethical behaviour, conduct and client care set out in the Code of Conduct. </li>
                            </ul>
                            <p>
                                This is only a summary of the duties that we have.  More information is available by contacting us, or by visiting the Financial Markets
                                Authority website at https://www.fma.govt.nz.
                            </p>
                        </div>
                        <h5><b>Contact details</b></h5>
                        <div>
                            <p>Marsh Limited (FSP22364, trading as Marsh, Mercer Marsh Benefits and Marsh JLT Specialty) is the financial advice provider.<br>You can contact us at:</p>
                            <ul>
                                <li>Call us on 0800 627 744 between the hours of 8.30am-5pm weekdays. </li>
                                <li>Mail us at PO Box 2221, Shortland Street, Auckland 1140 </li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding margin-top-5">
                            <div class="btn-group w100" style="margin-bottom:50px;" role="group" aria-label="First group">
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <button href="#step1" style="width:100%; background-color:#F04E45 !important;color:white;" type="button" class="btn btn-secondary margin-top-10 btn-step w100 btn-back">BACK</button>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    <button href="#step3" style="width:100%; float:right; background-color:#72BF44 !important;color:white;" id="next" type="button" class="btn btn-secondary margin-top-10 btn-step w100">NEXT</button>
                                </div>
                                <!--href="#tab1"-->
                                <!--href="#tab3"-->
                            </div>
                        </div>

                    </div>
                </div>

                <div class="tab-pane fade" id="step3" role="tabpanel" aria-labelledby="step3">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h1 style="font-size: 16px;font-weight: 600;font-family: Arial;text-align: center;color: black;padding-bottom: 15px;" id="QuickQuoteText2"> Please provide us with your contact details…</h1>
                            <br>
                            <h5 hidden><strong>User Information</strong></h5>
                            <div>
                                <label style="float:right; color:red;">* = Required</label>
                            </div>
                            <br />
                            <table class="table table-bordered">
                                <tr id="fnamefgroup">
                                    <td class="coastguardformtd1">
                                        <span class="input-group-addon" style="width:200px;height:28px"><label class="cgform-label" id="">First Name<p style="color:red; float:right;">&nbsp;*</p></label></span>
                                    </td>
                                    <td class="coastguardformtd">
                                        <div class="form-group required">
                                            <div class="input-group w100">
                                                <input class="form-control input-lg" placeholder="Enter First Name" type="text" name="fname" id="fname">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr id="snamefgroup">
                                    <td class="coastguardformtd1">
                                        <span class="input-group-addon" style="width:200px;height:28px"><label class="cgform-label" id="">Last Name<p style="color:red; float:right;">&nbsp;*</p></label></span>
                                    </td>
                                    <td class="coastguardformtd">
                                        <div class="form-group required">
                                            <div class="input-group w100">
                                                <input class="form-control input-lg" placeholder="Enter Last Name" type="text" name="sname" id="sname">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr id="emailfgroup">
                                    <td class="coastguardformtd1">
                                        <span class="input-group-addon" style="width:200px;height:28px"><label class="cgform-label" id="">Email Address<p style="color:red; float:right;">&nbsp;*</p></label></span>

                                    </td>
                                    <td class="coastguardformtd">
                                        <div class="form-group required">

                                            <div class="input-group w100">
                                                <input class="form-control input-lg" placeholder="Enter Email" type="text" name="email" id="email" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;); cursor: auto;" aria-required="true" aria-describedby="email-error" aria-invalid="false">
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                <tr id="mphonfgroup">
                                    <td class="coastguardformtd1">
                                        <span class="input-group-addon" style="width:200px;height:28px"><label class="cgform-label" style="padding-top:0 !important;" id="">Mobile Phone<p style="color:red; float:right;">&nbsp;*</p></label></span>
                                    </td>
                                    <td class="coastguardformtd">
                                        <div class="form-group required">
                                            <div class="input-group w100">
                                                <input class="form-control input-lg" placeholder="Enter Mobile" type="text" name="mphon" id="mphon" aria-required="true" aria-invalid="false" maxlength="14">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr id="vownrfgroup">
                                    <td class="coastguardformtd1">
                                        <span class="input-group-addon cgvesselowner col-xs-12"><label class="cgform-label" id="">Vessel Ownership<p style="color:red; float:right;">&nbsp;*</p></label></span>
                                    </td>
                                    <td class="coastguardformtd">
                                        <div style="height: 120px; padding-top: 7.5px; padding-bottom: 7.5px;">
                                            <label class="radio-inline" style="width:70%;"> <input type="radio" name="cgradioselect" id="vown1" value="Private" checked="checked" onclick="vesselOwnUpdate()"> Private</label>
                                            <label class="radio-inline" style="width:70%;"> <input type="radio" name="cgradioselect" id="vown2" value="Company" onclick="vesselOwnUpdate()"> Company</label>
                                            <label class="radio-inline" style="width:70%;"> <input type="radio" name="cgradioselect" id="vown3" value="Trust" onclick="vesselOwnUpdate()"> Trust</label>
                                            <label class="radio-inline" style="width:90%;"> <input type="radio" name="cgradioselect" id="vown4" value="Partnership" onclick="vesselOwnUpdate()"> Partnership</label>
                                        </div>
                                        <label hidden id="vownr">Private</label>
                                    </td>
                                </tr>
                            </table>
                            <div hidden>
                                <label style="font-weight:bold;font-size:1.3em;">Phone (one required)<label style="color:red; float:right;">&nbsp;*</label></label>
                            </div>
                            <div class="form-group" id="hphonfgroup" hidden>
                                <div class="input-group w100">
                                    <span class="input-group-addon" style="width:430px; height:28px"><label class="cgform-label" style="padding-top:0 !important;" id="">Home Phone</label></span>
                                    <input class="form-control input-lg" placeholder="Enter Home" type="text" name="hphon" id="hphon" maxlength="12">
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding margin-top-5">
                                <div class="btn-group w100" style="margin-bottom:50px;" role="group" aria-label="First group">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <button href="#step2" style="width:100%; background-color:#F04E45 !important;color:white;" type="button" class="btn btn-secondary margin-top-10 btn-step w100 btn-back">BACK</button>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="nextsec">
                                        <button href="#step4" id="nextButton" style="width:100%; float:right; background-color:#72BF44 !important;color:white;" type="button" class="btn btn-secondary margin-top-10 btn-step w100">NEXT</button>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <button href="#step4" style="width:100%; float:right; background-color:#72BF44 !important;color:white; display:none" id="callMeNext" type="button" class="btn btn-secondary margin-top-10 btn-step w100">NEXT</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="step4" role="tabpanel" aria-labelledby="step4">
                    <div class="form-group">
                        <p class="lead" style="text-align:center">
                            <br />
                            Thank you.
                        </p>
                        <p class="lead">
                            We have sent an email with your login instruction to the email address you supplied. Please follow the instructions in the email to set up your account and complete your proposal form.
                        </p>
                        <p class="lead">
                            Please Note - You must complete the insurance proposal form and complete the online process to obtain your insurance cover.
                        </p>
                    </div>
                    <div class="form-group">
                        <a href="~/Account/Login" style="background-color:#F04E45 !important;color:white;" type="submit" class="btn btn-secondary margin-top-10 w100 ">Sign In</a>
                    </div>
                </div>
                <div class="tab-pane fade" id="step5" role="tabpanel" aria-labelledby="step5">
                    <br />
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="text-left error-box">
                                        <h1 class="bounceInDown animated alert alert-danger"><i class="fa fa-fw fa-warning fa-lg"></i>Please login</h1>
                                        <h2 class="font-xl"><strong>Looks like an existing account has this email address</strong></h2>
                                        <br />
                                        <p class="lead">
                                            If you forgot your password click 'Reset Password' to retrieve a new password.
                                        </p>
                                        <p class="lead">
                                            If you require further assistance please contact DealEngine on 09 377 6564 or email us at <a href="mailto:support@techcertain.com">support@techcertain.com</a>.
                                        </p>
                                        <br />
                                        <button type="Reset" value="Submit" class="btn-sm" id="btnPanelSubmit" onclick="ResetPassword()">
                                            Reset Password
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="step6" role="tabpanel" aria-labelledby="step6">
                    <div class="form-group">
                        <p class="lead" style="text-align:center">
                            <br />
                            Thank you.
                        </p>
                        <p class="lead" style="text-align:center">
                            One of our Marine Insurance Specialists will contact you to discuss your requirements
                        </p>
                    </div>
                    <div class="form-group">
                        <a href="~/Account/Coastguardreg" style="background-color:#F04E45 !important;color:white;" type="submit" class="btn btn-secondary margin-top-10 w100 ">Close</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
<div class="modal" id="getQuoteModal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p><img src="/img/loading.gif" /> Saving your Quote. Please wait...</p>
            </div>
        </div>
    </div>
</div>
<style>
    .coastguardformtd {
        width: 1100px;
    }

    .coastguardformtd1 {
        width: 300px;
    }
</style>


@section pagespecific{
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var qq = document.getElementById("qquotfgroup");
        var n = document.getElementById("mnumbfgroup");
        var v = document.getElementById("vtypefgroup");
        var c = document.getElementById("ctypefgroup");
        var h = document.getElementById("hcfigfgroup");
        var m = document.getElementById("mtypefgroup");
        var t = document.getElementById("hastrfgroup");
        var l = document.getElementById("CraftType");
        var vi = document.getElementById("vivalfgroup");
        var t2 = document.getElementById("tab2");
        var t3 = document.getElementById("tab3");
        var t4 = document.getElementById("tab4");
        var t5 = document.getElementById("tab5");
        var eleArray = [l, n, v, c, h, m, t, vi];
        var cgdata = [];
        var vival = document.getElementById('vival');
        var memnum = document.getElementById('mnumb');
        var hphonk = document.getElementById('hphon');
        var mphonk = document.getElementById('mphon');

        vival.onkeydown = function (e) {
            if (!((e.keyCode > 95 && e.keyCode < 106) || (e.keyCode > 47 && e.keyCode < 58) || (e.keyCode == 8) || (e.keyCode == 9))) {
                return false;
            }
        }
        memnum.onkeydown = function (e) {
            if (!((e.keyCode > 95 && e.keyCode < 106) || (e.keyCode > 47 && e.keyCode < 58) || (e.keyCode == 8) || (e.keyCode == 9))) {
                return false;
            }
        }
        hphonk.onkeydown = function (e) {
            if (!((e.keyCode > 95 && e.keyCode < 106) || (e.keyCode > 47 && e.keyCode < 58) || (e.keyCode == 8) || (e.keyCode == 9))) {
                return false;
            }
        }
        mphonk.onkeydown = function (e) {
            if (!((e.keyCode > 95 && e.keyCode < 106) || (e.keyCode > 47 && e.keyCode < 58) || (e.keyCode == 8) || (e.keyCode == 9))) {
                return false;
            }
        }

        function Close() {
            $("#modal").hide();
        }

        function vesselOwnUpdate() {
            var radios = document.getElementsByName('cgradioselect');
            var cur = document.getElementById("vownr");
            for (var i = 0, length = radios.length; i < length; i++) {
                if (radios[i].checked) {
                    cur.value = radios[i].value;
                    document.getElementById("vownr").innerHTML = cur.value;
                    cur.innerHTML = cur.value;
                    break;
                }
            }
        }

        function saveQuickQuote() {
            if (cgdata.length > 0) {
                cgdata = [];
            }
            for (i = 0; i < eleArray.length; i++) {
                eleVal = eleArray[i].id.substring(0, 5);
                if (eleVal == "mnumb" || eleVal == "vival") {
                    if (eleVal == "mnumb") {
                        x = document.getElementById(eleVal);
                        y = x.value;
                        z = 6 - y.length;
                        for (j = 1; z >= j; j++) {
                            y = "0" + y;
                        }
                        x.value = y;
                    }
                    dropVal = document.getElementById(eleVal);
                    selectedVal = dropVal.value;
                }
                else if (eleVal == "Craft") {
                    craft = document.getElementById("CraftType");
                    selectedVal = craft.innerHTML;
                }
                else {
                    dropVal = document.getElementById(eleVal);
                    selectedVal = dropVal.options[dropVal.selectedIndex].value;
                }
                if (selectedVal == "") {
                    cgdata.push("null");
                }
                else if (eleArray[i].classList.contains("hidden") && selectedVal != craft.innerHTML) {
                    cgdata.push("null");
                }
                else {
                    cgdata.push(selectedVal);
                }
            }
            premium = document.getElementById("indiQuote").innerHTML;
            cgdata.push(premium);
        }

        function addCGData() {
            var fn = document.getElementById("fname").value;
            var sn = document.getElementById("sname").value;
            var em = document.getElementById("email").value;
            var vo = document.getElementById("vownr").innerHTML;
            var hp = document.getElementById("hphon").value;
            var mp = document.getElementById("mphon").value;
            cguser = [fn, sn, em, vo, hp, mp];
            if (cgdata.length > 9) {
                cgdata.length = 9;
            }
            for (i = 0; i < cguser.length; i++) {
                if (cguser[i].length > 0) {
                    cgdata.push(cguser[i]);
                }
                else {
                    cgdata.push("null");
                }
            }
        }

        function validationCheck(type) {
            var indiQuoteSpan = document.getElementById("indiQuoteSpan");
            var quoteInc = document.getElementById("quoteIncludes");
            var next = document.getElementById("next");
            var j = 0;
            for (i = 0; i < eleArray.length; i++) {
                if (eleArray[i].hidden == false) {
                    eleVal = eleArray[i].id.substring(0, 5); //eg. vtype,ctype,hcfig etc etc
                    if (eleVal == "mnumb" || eleVal == "vival") {
                        dropVal = document.getElementById(eleVal);
                        selectedVal = dropVal.value;
                    }
                    else if (eleVal == "Craft") {
                        continue;
                    }
                    else {
                        dropVal = document.getElementById(eleVal);
                        selectedVal = dropVal.options[dropVal.selectedIndex].value;
                    }
                    if (selectedVal.length <= 0) {
                        j += 1;
                        dropVal.classList.add("requiredVal");
                    }
                    else if (dropVal.classList.contains("requiredVal")) {
                        dropVal.classList.remove("requiredVal");
                    }
                }
            }
            if (j == 0) {
                if (type != 'call') {
                    quickQuote();
                }
                return true;
            }
            else {
                indiQuoteSpan.hidden = true;
                quoteInc.classList.hidden = true;
                next.classList.hidden = true;

                return false;
            }
        }

        function validationCheck2(type) {
            var f = document.getElementById("fnamefgroup");
            var s = document.getElementById("snamefgroup");
            var e = document.getElementById("emailfgroup");
            var hm = document.getElementById("hphon");
            var Email = document.getElementById("email");
            var hhjg = Email.value;
            var mb = document.getElementById("mphon");
            var eleArray2 = [f, s, e];
            var z = 0;
            if (!(/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(Email.value))) {
                alert("You have entered an invalid email address!");
                return (false)
            }
            if (hm.value == "" && mb.value == "") { //if both are empty
                hm.classList.add("requiredVal");
                mb.classList.add("requiredVal");
                z += 1;
            }
            for (i = 0; i < eleArray2.length; i++) {
                eleVal = eleArray2[i].id.substring(0, 5);
                dropVal = document.getElementById(eleVal);
                selectedVal = dropVal.value;
                if (selectedVal.length <= 0) {
                    z += 1;
                    dropVal.classList.add("requiredVal");
                }
                else if (dropVal.classList.contains("requiredVal")) {
                    dropVal.classList.remove("requiredVal");
                }
            }
            if (z == 0 && type == 'pleaseCall') {
                $('#getQuoteModal').show();
                addCGData();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("CoastGuardSelfReg", "Services")',
                    data: { craftType: cgdata[0], membershipNumber: cgdata[1], boatType: cgdata[2], constructionType: cgdata[3], hullConfiguration: cgdata[4], mooredType: cgdata[5], trailered: cgdata[6], boatInsuredValue: cgdata[7], quickQuotePremium: cgdata[8], firstName: cgdata[9], lastName: cgdata[10], email: cgdata[11], orgType: cgdata[12], homePhone: cgdata[13], mobilePhone: cgdata[14] },
                    traditional: true,
                }).done(function (data, textStatus, jQxhr) {
                        $('#getQuoteModal').hide();
                        switchStep("#step6");
                    })
                    .fail(function (jqXhr, textStatus, errorThrown) {
                        console.log(errorThrown);
                });
            } else if (z == 0) {
                addCGData();
                postCGData();
            }
        }

        function ResetPassword() {
            window.location.href = "/Account/ResetPassword";
        }

        function postCGData() {
            $('#getQuoteModal').show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("CoastGuardSelfReg", "Services")',
                data: { craftType: cgdata[0], membershipNumber: cgdata[1], boatType: cgdata[2], constructionType: cgdata[3], hullConfiguration: cgdata[4], mooredType: cgdata[5], trailered: cgdata[6], boatInsuredValue: cgdata[7], quickQuotePremium: cgdata[8], firstName: cgdata[9], lastName: cgdata[10], email: cgdata[11], orgType: cgdata[12], homePhone: cgdata[13], mobilePhone: cgdata[14] },
                traditional: true,
            })
                .done(function (data, textStatus, jQxhr) {
                    $('#getQuoteModal').hide();
                    if (data) {
                        switchStep("#step4");
                        $('#response pre').html(data);
                    }
                    else {
                        switchStep("#step5");
                    }
                })
                .fail(function (jqXhr, textStatus, errorThrown) {
                    console.log(errorThrown);
                });
        }

        function addZeroes(num) {
            var value = Number(num);
            num = num.toString();
            var res = num.split(".");
            if (res.length == 1 || res[1].length < 3) {
                value = value.toFixed(2);
            }
            return value;
        }

        function toTitleCase(str) {
            return str.replace(
                /\w\S*/g,
                function (txt) {
                    return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
                }
            );
        }

        function updateLabel() {
            var ct = document.getElementById("CraftTypeDrop");
            document.getElementById("mnumb").value = "";
            document.getElementById("vival").value = "";
            document.getElementById("vtype").selectedIndex = 0;
            document.getElementById("ctype").selectedIndex = 0;
            document.getElementById("hcfig").selectedIndex = 0;
            document.getElementById("mtype").selectedIndex = 0;
            document.getElementById("hastr").selectedIndex = 0;
            ctselected = ct.options[ct.selectedIndex].text;
            document.getElementById("CraftType").innerHTML = ctselected;
            $('#qquotfgroup').show();
            reloadForm();
        }

        function updateOptions() {
            var ct = document.getElementById("vtype");
            var ctselected = ct.options[ct.selectedIndex].text;
            var c = document.getElementById("ctypefgroup");
            var h = document.getElementById("hcfigfgroup");
            if (ctselected == "Jetski") {
                c.hidden = true;
                h.hidden = true;
                $('#ctypefgroup').hide();
                $('#hcfigfgroup').hide();
            }
            else {
                c.hidden = false;
                h.hidden = false;
                $('#ctypefgroup').show();
                $('#hcfigfgroup').show();
            }
        }

        $("button.btn-step").on('click', function (e) {
            var href = $(this).attr('href');
            var id = $(this).attr('id');
            var back = $(this).hasClass('btn-back');

            if (back == true) {
                switchStep(href);
            }

            if (href == "#step2") {
                // If quoteResult not hidden & qref hidden
                if ($("#quoteResult").is(':visible') && $("#qref").not(':visible')) {
                    // Then its ok to move to step 2, because they have their quote.
                    if (id == "pleaseCallMe") {
                        if (validationCheck()) {
                            saveQuickQuote();

                            $('#nextButton').hide();
                            document.getElementById("nextButton").hidden = true;
                            $('#vownrfgroup').hidden = true;
                            $('#callMeNext').hidden = false;
                            $('#vownrfgroup').hide();
                            $('#callMeNext').show();
                            $('#nextsec').hide();
                        }
                    }
                    switchStep(href);
                }
                else {
                    return false;
                }
            }
            else if (href == "#step4") {
                var call = $(this).attr('id');
                if (call == "callMeNext") {
                    validationCheck2('pleaseCall');
                }
                else {
                    validationCheck2();
                }
            }
            else {
                 switchStep(href);
            }
        })

        function switchStep(step) {
            $("div.show.active").removeClass("show active");
            $("div" + step).addClass("show active");
        }

        // Current Tab Code comment back in for testing
        //$('#tablist a').on('click', function (e) {
        //    var x = '#' + $(this).attr('id');
        //    $("div.show.active").removeClass("show active");
        //    $("div" + x).addClass("show active");
        //})

        function pleaseCallNext() {
            validationCheck2();
        }

        function quickQuote() {
            var insVal = document.getElementById("vival").value;
            var craftType = document.getElementById("CraftType").innerHTML;
            var qref = document.getElementById("qref");
            var indiQuoteSpan = document.getElementById("indiQuoteSpan");
            var quoteRes = document.getElementById("quoteResult");
            var quoteInc = document.getElementById("quoteIncludes");
            var v = document.getElementById("vtype");
            var c = document.getElementById("ctype");
            var h = document.getElementById("hcfig");
            var m = document.getElementById("mtype");
            var t = document.getElementById("hastr");
            var next = document.getElementById("next");
            var newQuote = document.getElementById("newQuote");
            var water = ["Berthed", "Moored"];
            var badCount = 0;
            var badTypes = ["Trimaran", "Other", "Swing", "Carbon fibre","Ferro cement/ cement"];
            var curTypes = [];
            var minPrem = 0;

            vtype = v.options[v.selectedIndex].text;
            ctype = c.options[c.selectedIndex].text;
            hcfig = h.options[h.selectedIndex].text;
            mtype = m.options[m.selectedIndex].text;
            hastr = t.options[t.selectedIndex].text;

            if (craftType == "Jetski") {
                curTypes.push(vtype, ctype, hcfig);
                minPrem = 500;
            }
            else if (craftType == "Roadtrailer") {
                curTypes.push(vtype, ctype, hcfig);
                minPrem = 250;
            }

            else if (craftType == "Stored") {
                curTypes.push(vtype, ctype, hcfig, hastr);
                minPrem = 250;

            }
            else if (craftType == "Berthed") {
                curTypes.push(vtype, ctype, hcfig);
                minPrem = 400;
            }
            else if (craftType == "Moored") {
                curTypes.push(vtype, ctype, hcfig, mtype);
                minPrem = 400;
            }
            quoteRes.hidden = false;
            $('#quoteResult').show();
            for (i = 0; i < curTypes.length; i++) {
                if (badTypes.includes(curTypes[i])) {
                    badCount += 1;
                }
            }

            if (badCount > 0 || (craftType == "Roadtrailer" && insVal > 250000) || (craftType == "Stored" && insVal > 250000) || (vtype == "Jetski" && insVal > 100000) || (craftType == "Berthed" && insVal > 500000) || (craftType == "Moored" && insVal > 500000)) {
                qref.hidden = false;
                $('#indiQuoteSpan').hide();
                $('#quoteInc').hide();
                $('#next').hide();
            }

            else {
                if (badCount < 1) {
                    $('#mnumb').attr('readonly', 'readonly');
                    $('#mnumb').disableSelection;
                    $('#vtype').attr('readonly', 'readonly');
                    $('#vtype').attr('disabled', 'true');
                    $('#ctype').attr('readonly', 'readonly');
                    $('#ctype').attr('disabled', 'true');
                    $('#hcfig').attr('readonly', 'readonly');
                    $('#hcfig').attr('disabled', 'true');
                    $('#vival').attr('readonly', 'readonly');
                    $('#vival').disableSelection;
                    $('#mtype').attr('readonly', 'readonly');
                    $('#mtype').attr('disabled', 'true');
                    $('#hastr').attr('readonly', 'readonly');
                    $('#hastr').attr('disabled', 'true');
                    $('#newQuote').show();
                    newQuote.hidden = false;
                    $('#qref').hide();
                    $('#indiQuoteSpan').show();
                    $('#quoteInc').show();
                    $('#next').show();
                    qref.hidden = true;
                    indiQuoteSpan.hidden = false;
                    quoteInc.hidden = false;
                    next.hidden = false;
                }
            }

            if (vtype == "Jetski") {
                document.getElementById("rate").value = 0.03;
            }
            else if (water.includes(craftType)) {
                document.getElementById("rate").value = 0.008;
            }
            else {
                document.getElementById("rate").value = 0.0065;
            }

            var rate = document.getElementById("rate").value;
            var quote = insVal * rate;

            if (quote <= minPrem) {
                minPrem = (minPrem / 12) * 1.15; //Convert from p/a to p/m
                minPrem = Math.round(minPrem * 100) / 100; //round
                minPrem = addZeroes(minPrem);
                document.getElementById("indiQuote").innerHTML = minPrem;

            }
            else {
                quote = (quote / 12) * 1.15; //Convert from p/a to p/m
                quote = Math.round(quote * 100) / 100; //round
                quote = addZeroes(quote);
                document.getElementById("indiQuote").innerHTML = quote;
            }
        }

        function reloadForm() {
            var option = document.getElementById("CraftType").innerHTML;
            var cTypeDrop = document.getElementById("CraftTypeDrop");
            var cType = document.getElementById("CraftType");

            //Vessel Type Options
            var v4 = document.getElementById("Jetski");
            var v5 = document.getElementById("VOther");

            //Construction Type Options
            var c7 = document.getElementById("Cement");
            var c8 = document.getElementById("COther");

            //Hull Config Options
            var h4 = document.getElementById("HOther");

            //Moored Type Options
            var m2 = document.getElementById("Marina");

            //The Select elements
            var v = document.getElementById("vtypefgroup");
            var c = document.getElementById("ctypefgroup");
            var h = document.getElementById("hcfigfgroup");
            var m = document.getElementById("mtypefgroup");
            var t = document.getElementById("hastrfgroup");

            console.log(option);
            if (option == "Roadtrailer") {
                banner.src = "https://s3-us-west-1.amazonaws.com/mpak.proposalonline.com/images/CG_Header_MENUNew.jpg";
                v.hidden = false;
                v4.hidden = false;
                c.hidden = false;
                h.hidden = false;
                $('#vtypefgroup').show();
                $('#Jetski').show();
                $('#ctypefgroup').show();
                $('#hcfigfgroup').show();
                m.hidden = true;
                t.hidden = true;
                v5.hidden = true;
                c7.hidden = true;
                c8.hidden = true;
                h4.hidden = true;
                $('#mtypefgroup').hide();
                $('#hastrfgroup').hide();
                $('#VOther').hide();
                $('#Cement').hide();
                $('#COther').hide();
                $('#HOther').hide();
            }
            if (option == "Stored") {
                banner.src = "https://s3-us-west-1.amazonaws.com/mpak.proposalonline.com/images/CG_Header_MENUNew.jpg";
                $('#vtypefgroup').show();
                $('#Jetski').show();
                $('#ctypefgroup').show();
                $('#hcfigfgroup').show();
                $('#hastrfgroup').show();
                v.hidden = false;
                v4.hidden = false;
                c.hidden = false;
                h.hidden = false;
                t.hidden = false;
                m.hidden = true;
                $('#mtypefgroup').hide();
                $('#VOther').show();
                $('#Cement').show();
                $('#COther').show();
                $('#HOther').show();
                v5.hidden = false;
                c7.hidden = false;
                c8.hidden = false;
                h4.hidden = false;
            }
            if (option == "Berthed") {
                banner.src = "https://s3-us-west-1.amazonaws.com/mpak.proposalonline.com/images/CG_Header_MENUNew.jpg";
                v.hidden = false;
                $('#vtypefgroup').show();
                v4.hidden = true;
                v5.hidden = true;
                $('#Jetski').hide();
                $('#VOther').hide();
                c.hidden = false;
                c7.hidden = false;
                c8.hidden = false;
                h.hidden = false;
                h4.hidden = false;
                $('#ctypefgroup').show();
                $('#Cement').show();
                $('#COther').show();
                $('#hcfigfgroup').show();
                $('#HOther').show();
                $('#mtypefgroup').hide();
                $('#Marina').hide();
                $('#hastrfgroup').hide();
                m.hidden = true;
                m2.hidden = true;
                t.hidden = true;
            }
            if (option == "Moored") {
                banner.src = "https://s3-us-west-1.amazonaws.com/mpak.proposalonline.com/images/CG_Header_MENUNew.jpg";
                $('#vtypefgroup').show();
                $('#ctypefgroup').show();
                $('#hcfigfgroup').show();
                $('#mtypefgroup').show();
                v.hidden = false;
                c.hidden = false;
                h.hidden = false;
                m.hidden = false;
                $('#hastrfgroup').hide();
                $('#VOther').hide();
                t.hidden = true;
                v5.hidden = true;
                $('#Cement').show();
                $('#COther').show();
                $('#HOther').show();
                c7.hidden = false;
                c8.hidden = false;
                h4.hidden = false;
                v4.hidden = false;
                $('#Jetski').show();
            }
            if (option == "Multi") {
                banner.src = "https://s3-us-west-1.amazonaws.com/mpak.proposalonline.com/images/CG_Header_MENUNew.jpg";
                cTypeDrop.hidden = false;
                $('#CraftTypeDrop').show();
                cType.hidden = true;
                $('#CraftType').hide();
            }
        }

        //Fill Label with URL and change displayed Select Elements and their sub options when page is ready
        $(document).ready(function () {
            var option = window.location.search;
            if (option.length != 0) {
                option = option.substr(1);
                option = toTitleCase(option);
                document.getElementById("CraftType").innerHTML = option;
            }
            var cTypeDrop = document.getElementById("CraftTypeDrop");
            var cType = document.getElementById("CraftType");
            var v4 = document.getElementById("Jetski");
            var v5 = document.getElementById("VOther");
            var c7 = document.getElementById("Cement");
            var c8 = document.getElementById("COther");
            var h4 = document.getElementById("HOther");
            var m2 = document.getElementById("Marina");
            var v = document.getElementById("vtypefgroup");
            var c = document.getElementById("ctypefgroup");
            var h = document.getElementById("hcfigfgroup");
            var m = document.getElementById("mtypefgroup");
            var t = document.getElementById("hastrfgroup");
            var banner = document.getElementById("banner");
            if (option == "Roadtrailer") {
                banner.src = "https://s3-us-west-1.amazonaws.com/mpak.proposalonline.com/images/CG_Header_MENUNew.jpg";
                $('#mtypefgroup').hide();
                $('#hastrfgroup').hide();
                $('#VOther').hide();
                $('#Cement').hide();
                $('#COther').hide();
                $('#HOther').hide();
                m.hidden = true;
                t.hidden = true;
                v5.hidden = true;
                c7.hidden = true;
                c8.hidden = true;
                h4.hidden = true;
            }
            if (option == "Stored") {
                banner.src = "https://s3-us-west-1.amazonaws.com/mpak.proposalonline.com/images/CG_Header_MENUNew.jpg";
                m.hidden = true;
                $('#mtypefgroup').hide();
            }
            if (option == "Berthed") {
                banner.src = "https://s3-us-west-1.amazonaws.com/mpak.proposalonline.com/images/CG_Header_MENUNew.jpg";
                $('#mtypefgroup').hide();
                $('#hastrfgroup').hide();
                $('#VOther').hide();
                $('#Marina').hide();
                $('#Jetski').hide();
                m.hidden = true;
                t.hidden = true;
                v5.hidden = true;
                m2.hidden = true;
                v4.hidden = true;
            }
            if (option == "Moored") {
                banner.src = "https://s3-us-west-1.amazonaws.com/mpak.proposalonline.com/images/CG_Header_MENUNew.jpg";

                $('#hastrfgroup').hide();
                $('#Jetski').hide();
                $('#VOther').hide();

                t.hidden = true;
                v4.hidden = true;
                v5.hidden = true;
            }
            if (option == "Multi") {
                banner.src = "https://s3-us-west-1.amazonaws.com/mpak.proposalonline.com/images/CG_Header_MENUNew.jpg";
                $('#CraftTypeDrop').show();
                $('#CraftType').hide();
                $('#vtypefgroup').hide();
                $('#ctypefgroup').hide();
                $('#hcfigfgroup').hide();
                $('#mtypefgroup').hide();
                $('#hastrfgroup').hide();
                $('#qquotfgroup').hide();
                cType.hidden = true;
                v.hidden = true;
                c.hidden = true;
                h.hidden = true;
                m.hidden = true;
                t.hidden = true;
                qq.hidden = true;
            }
        });
    </script>



}
