@model DealEngine.WebUI.Models.AccountRegistrationModel
@{
    ViewBag.PageId = "extr-page";
}

@section topright{
    <span id="extr-page-header-space" class="pull-right"> <span class="hidden-mobile">Already registered?</span> <a href="~/Account/Login" class="btn btn-danger">Sign In</a> </span>
    @*TODO Change back when mono 4.3 or later is installed*@
    @*<span id="extr-page-header-space"> <span class="hidden-mobile">Already registered?</span> <a href="@Url.Action("login", "account")" class="btn btn-danger">Sign In</a> </span>*@
}



<div style="font-family:Arial !important;">
    <article class="container col-sm-12 col-md-6 col-lg-6">
        <div class="container">
            <img id="banner" class="w100" src="https://s3-us-west-1.amazonaws.com/mpak.proposalonline.com/images/CG_Header_MENUNew.jpg" />
        </div>


        <div class="container">

            <div>
                <ul class="nav nav-tabs d-sm-flex" hidden>
                    <li class="active" data-bs-target="#step1" hidden>
                        <a href="#tab1" data-bs-toggle="tab"> <span class="step">1</span> <span class="title">Step 1</span> </a>
                    </li>
                    <li data-bs-target="#step2" hidden>
                        <a href="#tab2" data-bs-toggle="tab"> <span class="step">2</span> <span class="title">Step 2</span> </a>
                    </li>
                    <li data-bs-target="#step3" hidden>
                        <a href="#tab3" data-bs-toggle="tab"> <span class="step">3</span> <span class="title">Step 3</span> </a>
                    </li>
                    <li data-bs-target="#step4" hidden>
                        <a href="#tab4" data-bs-toggle="tab"> <span class="step">4</span> <span class="title">Step 4</span> </a>
                    </li>
                    <li data-bs-target="#step5" hidden>
                        <a href="#tab5" data-bs-toggle="tab"> <span class="step">5</span> <span class="title">Step 5</span> </a>
                    </li>

                </ul>
            </div>

            <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <form id="quickQuote">
                        <div class="container">

                            <h1 class="text-align-center" style="font-size: 18px;font-weight: 600;font-family: Arial;text-align: center;color: black;padding-bottom: 15px; padding-top:10px" strong id="QuickQuoteText2">
                            Tell us a little bit more about your vessel...
                            </h1>

                            <select onchange="updateLabel()" id="CraftTypeDrop" class="form-control form-select input-lg" hidden style="margin-top: 20px; margin-bottom: 25px;">
                                <option value="" selected="selected">Pick your highest value vessel.</option>
                                <option>Roadtrailer</option>
                                <option>Stored</option>
                                <option>Berthed</option>
                                <option>Moored</option>
                            </select>
                            <div><label class="text-align-center" style="margin-left: 50% !important ; font-size: 18px;font-weight: 600;font-family: Arial;color: black;padding-bottom: 15px; padding-top:10px" id="CraftType" hidden>Type Placeholder</label></div>
                        </div>
                        <br>
                        <input hidden type="number" id="rate" value=".05" />
                        <div class="row">
                            <div class="container">
                                <div>
                                    <label style="float:right; color:red;">* = Required</label>
                                </div>
                                <br />

                                <table class="table table-bordered">
                                    <tr id="mnumbfgroup" class="coastguardformtr">
                                        <td class="coastguardformtd1">
                                            <span class="input-group-addon" style="width:220px;height:28px">
                                                <label class="cgform-label" id="memNum">
                                                    Coastguard Membership #
                                                    <p style="color:red; float:right;">&nbsp;*</p>
                                                </label>
                                            </span>

                                        </td>
                                        <td class="coastguardformtd">
                                            <div class="form-group">
                                                <div class="input-group w100">
                                                    <input class="form-control input-lg" placeholder="" type="text" name="mnumb" id="mnumb" maxlength="6">
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="vtypefgroup" class="coastguardformtr">
                                        <td class="coastguardformtd1">
                                            <span class="input-group-addon" style="width:220px;height:28px">
                                                <label class="cgform-label" id="VesselType">
                                                    Vessel Type
                                                    <p style="color:red; float:right;">&nbsp;*</p>
                                                </label>
                                            </span>

                                        </td>
                                        <td class="coastguardformtd">
                                            <div class="form-group">
                                                <div class="input-group w100">
                                                    <select onchange="updateOptions()" id="vtype" class="form-control form-select input-lg" style="font-size:1.1em;" required>
                                                        <option id="" value="" selected="selected">-- Select --</option>
                                                        <option id="Powerboats" value="Powerboats">Powerboats</option>
                                                        <option id="Cruisers" value="CruisersandLaunches">Cruisers and Launches</option>
                                                        <option id="Yachts" value="YachtsandCatamarans">Yachts and Catamarans</option>
                                                        <option id="Jetski" value="Jetski">Jetski</option>
                                                        <option id="VOther" value="Other">Other Personal Watercraft</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="ctypefgroup" class="coastguardformtr">
                                        <td class="coastguardformtd1">
                                            <span class="input-group-addon" style="width:220px;height:28px"><label class="cgform-label" id="ConstructionType">Construction Type<p style="color:red; float:right;">&nbsp;*</p></label></span>
                                        </td>
                                        <td class="coastguardformtd">
                                            <div class="form-group">
                                                <div class="input-group w100">
                                                    <select id="ctype" class="form-control input-lg form-select" style="font-size:1.1em;">
                                                        <option value="" selected="selected">-- Select --</option>
                                                        <option id="Aluminium" value="Aluminium">Aluminium</option>
                                                        <option id="Steel" value="Steel">Steel</option>
                                                        <option id="Fibreglass" value="Fibreglass">Fibreglass</option>
                                                        <option id="Carbon" value="Carbon">Carbon fibre</option>
                                                        <option id="RigidHI" value="RigidHI">Rigid Hull Inflatable</option>
                                                        <option id="Wood" value="Wood">Wood/timber</option>
                                                        <option id="Cement" value="Cement">Ferro cement/ cement</option>
                                                        <option id="COther" value="Other">Other</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="hcfigfgroup" class="coastguardformtr">
                                        <td class="coastguardformtd1">
                                            <span class="input-group-addon" style="width:220px;height:28px"><label class="cgform-label" id="HullConfig">Hull Configuration<p style="color:red; float:right;">&nbsp;*</p></label></span>

                                        </td>
                                        <td class="coastguardformtd">
                                            <div class="form-group">
                                                <div class="input-group w100">
                                                    <select id="hcfig" class="form-control form-select input-lg" style="font-size:1.1em;">
                                                        <option id="" value="" selected="selected">-- Select --</option>
                                                        <option id="Mono" value="Mono">Mono</option>
                                                        <option id="Catamaran" value="Catamaran">Catamaran</option>
                                                        <option id="Trimaran" value="Trimaran">Trimaran</option>
                                                        <option id="HOther" value="Other">Other</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="mtypefgroup" class="coastguardformtr">
                                        <td class="coastguardformtd1">
                                            <span class="input-group-addon" style="width:220px;height:28px"><label class="cgform-label" id="MooredType">Moored Type<p style="color:red; float:right;">&nbsp;*</p></label></span>
                                        </td>
                                        <td class="coastguardformtd">
                                            <div class="form-group">
                                                <div class="input-group w100">
                                                    <select id="mtype" class="form-control form-select input-lg" style="font-size:1.1em;">
                                                        <option value="" selected="selected">-- Select --</option>
                                                        <option id="Pile" value="Pile">Pile</option>
                                                        <option id="Marina" value="Marina">Marina</option>
                                                        <option id="Swing" value="Swing">Swing</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="hastrfgroup" class="coastguardformtr">
                                        <td class="coastguardformtd1">
                                            <span class="input-group-addon" style="width:220px;height:28px"><label class="cgform-label" id="hastrrailer">Trailered<p style="color:red; float:right;">&nbsp;*</p></label></span>

                                        </td>
                                        <td class="coastguardformtd">
                                            <div class="form-group">
                                                <div class="input-group w100">
                                                    <select id="hastr" class="form-control form-select input-lg" style="font-size:1.1em;">
                                                        <option value="" selected="selected">-- Select --</option>
                                                        <option id="True" value="True">Yes</option>
                                                        <option id="False" value="False">No</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr id="vivalfgroup" class="coastguardformtr">
                                        <td class="coastguardformtd1">
                                            <span class="input-group-addon" style="width:220px;height:28px"><label class="cgform-label" id="VesselIVal">Vessel Insured Value<p style="color:red; float:right;">&nbsp;*</p></label></span>

                                        </td>
                                        <td class="coastguardformtd">
                                            <div class="form-group">
                                                <div class="input-group w100 input-icon">
                                                    <input class="form-control input-lg" placeholder="Enter value" value="" type="number" name="vival" id="vival" min="0" required>
                                                    <i>$</i>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <div class="form-group" style="margin-bottom:0;" id="qquotfgroup">
                                    <div class="input-group w100">
                                        <button style="background-color:#00B0D3 !important; color:white;" type="submit" onclick="validationCheck('quoteNow'); return false;" class="btn btn-secondary w100">Get your Quote now</button>
                                    </div>
                                </div>
                            </div>
                            <div id="quoteResult" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 margin-top-10" hidden>
                                <div style="width:100%; margin-bottom:0; font-size:1.1em;" id="qref" class="alert alert-danger" hidden>Quick Quote is not available for the combination you have selected. Please click "Please give me a call to discuss" below. </div>
                                <div id="indiQuoteSpan" class="w100" style="text-align:center">
                                    <label class="indiQuoteValue">$</label>
                                    <label class="indiQuoteValue" id="indiQuote">Placeholder</label>
                                    <label class="indiQuoteValue" style="font-size:1.4em;"> (p/month incl GST)</label>
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div hidden id="quoteIncludes">
                                    <span class="font-italic" style="font-size:1.4em;">Cover includes:</span>
                                    <ul>
                                        <li style="font-size:1em;" class="font-italic">$5,000,000 third party limit</li>
                                        <li style="font-size:1em;" class="font-italic">$20,000 personal effects/fishing gear limit</li>
                                        <li style="font-size: 1em;" class="font-italic">$10,000 personal accident cover as defined</li>
                                        <li style="font-size:1em;" class="font-italic">Dedicated marine loss adjustor</li>
                                        <li style="font-size:1em;" class="font-italic">Social or Corporate Yacht Racing (under 50nm)</li>
                                    </ul>
                                    <p>This indicative quote is provided by Ando Insurance Group Limited based upon the information submitted. Ando Insurance Group Limited is an agent underwriting for and on behalf of certain underwriters at Lloyd's. This is an indicative quote only. Submitting this form does not provide insurance cover for your vessel.</p>
                                </div>
                            </div>
                            <div style="margin-bottom:50px;" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div role="group" aria-label="First group">
                                    <!--<a href="#tab2" data-bs-toggle="tab"><button onclick="saveQuickQuote(); return false;" style="background-color:#72BF44 !important;color:white;" id="next" type="submit" class="btn btn-secondary margin-top-10 w100 hidden">I LIKE IT - LET'S GO!</button></a>-->
                                    <a href="#tab2" data-bs-toggle="tab" onclick="saveQuickQuote(); return false;" style="background-color:#72BF44 !important;color:white;" id="next" type="submit" class="btn btn-secondary margin-top-10 w100 hidden">I LIKE IT - LET'S GO!</a>
                                    @*<a href="Coastguardreg" style=" width:100%; background-color:#72BF44 !important;color:white;" id="newQuote" class="btn btn-secondary margin-top-10 " hidden>Get A New Quote</a>*@
                                    <a href="Coastguardreg" style=" width:100%; background-color:#72BF44 !important;color:white;" id="newQuote" class="btn btn-secondary margin-top-10 w100 hidden">Get A New Quote</a>

                                    <!--<button type="button" class="btn btn-secondary margin-top-10 w100 hidden">Save for later</button>-->
                                    <a data-bs-toggle="tab" onclick="pleaseCallButton(); return false;" style="width:100%;background-color:#004280 !important;color:white;" type="submit" class="btn btn-secondary margin-top-10 w100">Please give me a call to discuss</a>

                                    <a style="width:100%; background-color:#F04E45 !important;color:white;" href="Coastguardreg" class="btn btn-secondary margin-top-10 w100 ">No Thanks, I think I'll leave it</a>
                                    @*<button style="background-color:#004280 !important;color:white;" href="#tab2" type="button" class="btn btn-secondary margin-top-10 w100" onlick="validationCheck()">Please give me a call to discuss</button>*@
                                    <!--<a style="background-color:#F04E45 !important;color:white;" href="Coastguardreg"><button type="button" class="btn btn-secondary margin-top-10 w100">NO THANKS</button>-->

                                </div>
                            </div>
                           
                        </div>
                    </form>
                </div>

                <div class="tab-pane" id="tab2">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h1 style="font-size: 16px;font-weight: 600;font-family: Arial;text-align: center;color: black;padding-bottom: 15px;" id="QuickQuoteText2"> Please provide us with your contact details…</h1>
                            <br>
                            <h3 hidden><strong>User Information</strong></h3>
                            <div>
                                <label style="float:right; color:red;">* = Required</label>
                            </div>
                            <br />
                            <table class="table table-bordered">
                                <tr id="fnamefgroup">
                                    <td class="coastguardformtd1">
                                        <span class="input-group-addon" style="width:200px;height:28px"><label class="cgform-label" id="">First Name<p style="color:red; float:right;">&nbsp;*</p></label></span>
                                    </td>
                                    <td class="coastguardformtd">
                                        <div class="form-group required">
                                            <div class="input-group w100">
                                                <input class="form-control input-lg" placeholder="Enter First Name" type="text" name="fname" id="fname">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr id="snamefgroup">
                                    <td class="coastguardformtd1">
                                        <span class="input-group-addon" style="width:200px;height:28px"><label class="cgform-label" id="">Last Name<p style="color:red; float:right;">&nbsp;*</p></label></span>
                                    </td>
                                    <td class="coastguardformtd">
                                        <div class="form-group required">
                                            <div class="input-group w100">
                                                <input class="form-control input-lg" placeholder="Enter Last Name" type="text" name="sname" id="sname">
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr id="emailfgroup">
                                    <td class="coastguardformtd1">
                                        <span class="input-group-addon" style="width:200px;height:28px"><label class="cgform-label" id="">Email Address<p style="color:red; float:right;">&nbsp;*</p></label></span>

                                    </td>
                                    <td class="coastguardformtd">
                                        <div class="form-group required">

                                            <div class="input-group w100">
                                                <input class="form-control input-lg" placeholder="Enter Email" type="text" name="email" id="email" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;); cursor: auto;" aria-required="true" aria-describedby="email-error" aria-invalid="false">
                                            </div>
                                        </div>

                                    </td>
                                </tr>
                                <tr id="mphonfgroup">
                                    <td class="coastguardformtd1">
                                        <span class="input-group-addon" style="width:200px;height:28px"><label class="cgform-label" style="padding-top:0 !important;" id="">Mobile Phone<p style="color:red; float:right;">&nbsp;*</p></label></span>

                                    </td>
                                    <td class="coastguardformtd">
                                        <div class="form-group required">
                                            <div class="input-group w100">
                                                <input class="form-control input-lg" placeholder="Enter Mobile" type="text" name="mphon" id="mphon" aria-required="true" aria-invalid="false" maxlength="14">
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                <tr id="vownrfgroup">
                                    <td class="coastguardformtd1">
                                        <span class="input-group-addon cgvesselowner col-xs-12"><label class="cgform-label" id="">Vessel Ownership<p style="color:red; float:right;">&nbsp;*</p></label></span>

                                    </td>
                                    <td class="coastguardformtd">
                                        <div style="height: 120px; padding-top: 7.5px; padding-bottom: 7.5px;">
                                            <label class="radio-inline" style="width:70%;"> <input type="radio" name="cgradioselect" id="vown1" value="Private" checked="checked" onclick="vesselOwnUpdate()"> Private</label>
                                            <label class="radio-inline" style="width:70%;"> <input type="radio" name="cgradioselect" id="vown2" value="Company" onclick="vesselOwnUpdate()"> Company</label>
                                            <label class="radio-inline" style="width:70%;"> <input type="radio" name="cgradioselect" id="vown3" value="Trust" onclick="vesselOwnUpdate()"> Trust</label>
                                            <label class="radio-inline" style="width:90%;"> <input type="radio" name="cgradioselect" id="vown4" value="Partnership" onclick="vesselOwnUpdate()"> Partnership</label>
                                        </div>
                                        <label hidden id="vownr">Private</label>

                                    </td>
                                </tr>


                            </table>

                            @*<form class="form-horizontal" role="form">*@
                            @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group required" id="vownrfgroup">
                                    <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" style="padding:0; margin:0; min-width:150px;">
                                        <span class="input-group-addon cgvesselowner col-xs-12" style="border:1px solid #ccc"><label class="cgform-label" id="">Vessel Ownership<p style="color:red; float:right;">&nbsp;*</p></label></span>
                                    </div>

                                    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" style="height: 45px; padding-top: 7.5px; padding-bottom: 7.5px;">
                                        <label class="radio-inline" style="width:19%;"> <input type="radio" name="cgradioselect" id="vown1" value="Private" checked="checked" onclick="vesselOwnUpdate()">Private</label>
                                        <label class="radio-inline" style="width:24%;"> <input type="radio" name="cgradioselect" id="vown2" value="Company" onclick="vesselOwnUpdate()">Company</label>
                                        <label class="radio-inline" style="width:15%;"> <input type="radio" name="cgradioselect" id="vown3" value="Trust" onclick="vesselOwnUpdate()">Trust</label>
                                        <label class="radio-inline" style="width:20%;"> <input type="radio" name="cgradioselect" id="vown4" value="Partnership" onclick="vesselOwnUpdate()">Partnership</label>
                                    </div>
                                    <label class="hidden" id="vownr">Private</label>
                                </div>
                            </div>*@

                            <div hidden>
                                <label style="font-weight:bold;font-size:1.3em;">Phone (one required)<label style="color:red; float:right;">&nbsp;*</label></label>
                            </div>

                            <div class="form-group" id="hphonfgroup" hidden>
                                <div class="input-group w100">
                                    <span class="input-group-addon" style="width:430px; height:28px"><label class="cgform-label" style="padding-top:0 !important;" id="">Home Phone</label></span>
                                    <input class="form-control input-lg" placeholder="Enter Home" type="text" name="hphon" id="hphon" maxlength="12">
                                </div>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding margin-top-5">
                                <div class="btn-group w100" style="margin-bottom:50px;" role="group" aria-label="First group">
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <a href="#tab1" data-bs-toggle="tab"><button style="width:100%; background-color:#F04E45 !important;color:white;" type="button" class="btn btn-secondary margin-top-10 w100">BACK</button></a>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" id="nextsec">
                                        <a onclick="validationCheck2(); return false;" id="nextButton" data-bs-toggle="tab"><button style="width:100%; float:right; background-color:#72BF44 !important;color:white;" id="next" type="button" class="btn btn-secondary margin-top-10 w100">NEXT</button></a>
                                    </div>

                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                        <a onclick="validationCheck2('pleaseCall'); return false;" data-bs-toggle="tab"><button style="width:100%; float:right; background-color:#72BF44 !important;color:white; display:none" id="callMeNext" type="button" class="btn btn-secondary margin-top-10 w100">NEXT</button></a>
                                    </div>

                                    <!--href="#tab1"-->
                                    <!--href="#tab3"-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tab3">
                    <div class="form-group">

                        <p class="lead" style="text-align:center">
                            <br />
                            Thank you.
                        </p>
                        <p class="lead">
                            We have sent an email with your login instruction to the email address you supplied. Please follow the instructions in the email to set up your account and complete your proposal form.
                        </p>
                        <p class="lead">
                            Please Note - You must complete the insurance proposal form and complete the online process to obtain your insurance cover.
                        </p>

                    </div>

                    <div class="form-group">
                        <a href="~/Account/Login" style="background-color:#F04E45 !important;color:white;" type="submit" class="btn btn-secondary margin-top-10 w100 ">Sign In</a>
                    </div>

                </div>

                <div class="tab-pane" id="tab4">
                    <br />
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="text-left error-box">
                                        <h1 class="bounceInDown animated alert alert-danger"><i class="fa fa-fw fa-warning fa-lg"></i>Please login</h1>
                                        <h2 class="font-xl"><strong>Looks like an existing account has this email address</strong></h2>
                                        <br />
                                        <p class="lead">
                                            If you forgot your password click 'Reset Password' to retrieve a new password.
                                        </p>
                                        <p class="lead">
                                            If you require further assistance please contact DealEngine on 09 377 6564 or email us at <a href="mailto:support@techcertain.com">support@techcertain.com</a>.
                                        </p>
                                        <br />
                                        <button type="Reset" value="Submit" class="btn-sm" id="btnPanelSubmit" onclick="ResetPassword()">
                                            Reset Password
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane" id="tab5">
                    <div class="form-group">

                        <p class="lead" style="text-align:center">
                            <br />
                            Thank you.
                        </p>
                        <p class="lead" style="text-align:center">
                            One of our Marine Insurance Specialists will contact you to discuss your requirements
                        </p>

                    </div>

                    <div class="form-group">
                        <a href="~/Account/Coastguardreg" style="background-color:#F04E45 !important;color:white;" type="submit" class="btn btn-secondary margin-top-10 w100 ">Close</a>
                    </div>

                </div>

            </div>
        </div>
    </article>
</div>
<div class="modal" id="getQuoteModal" tabindex="-1" role="dialog" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p><img src="/img/loading.gif" /> Saving your Quote. Please wait...</p>
            </div>
        </div>
    </div>
</div>
<style>
    .coastguardformtd{
        width: 1100px;
    }
    .coastguardformtd1{
        width: 300px;
    }
</style>

@section pagespecific{
    @*<script src="~/twitter-bootstrap/js/bootstrap.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        var qq = document.getElementById("qquotfgroup");
        var n = document.getElementById("mnumbfgroup");
        var v = document.getElementById("vtypefgroup");
        var c = document.getElementById("ctypefgroup");
        var h = document.getElementById("hcfigfgroup");
        var m = document.getElementById("mtypefgroup");
        var t = document.getElementById("hastrfgroup");
        var l = document.getElementById("CraftType");
        var vi = document.getElementById("vivalfgroup");
        var t2 = document.getElementById("tab2");
        var t3 = document.getElementById("tab3");
        var t4 = document.getElementById("tab4");
        var t5 = document.getElementById("tab5");
        var eleArray = [l, n, v, c, h, m, t, vi];
        var cgdata = [];
        var vival = document.getElementById('vival');
        var memnum = document.getElementById('mnumb');
        var hphonk = document.getElementById('hphon');
        var mphonk = document.getElementById('mphon');


        vival.onkeydown = function (e) {
            if (!((e.keyCode > 95 && e.keyCode < 106) || (e.keyCode > 47 && e.keyCode < 58) || (e.keyCode == 8) || (e.keyCode == 9))) {
                return false;
            }
        }
        memnum.onkeydown = function (e) {
            if (!((e.keyCode > 95 && e.keyCode < 106) || (e.keyCode > 47 && e.keyCode < 58) || (e.keyCode == 8) || (e.keyCode == 9))) {
                return false;
            }
        }
        hphonk.onkeydown = function (e) {
            if (!((e.keyCode > 95 && e.keyCode < 106) || (e.keyCode > 47 && e.keyCode < 58) || (e.keyCode == 8) || (e.keyCode == 9))) {
                return false;
            }
        }
        mphonk.onkeydown = function (e) {
            if (!((e.keyCode > 95 && e.keyCode < 106) || (e.keyCode > 47 && e.keyCode < 58) || (e.keyCode == 8) || (e.keyCode == 9))) {
                return false;
            }
        }

        function Close() {
            $("#modal").hide();
        }

        function vesselOwnUpdate() {
            var radios = document.getElementsByName('cgradioselect');
            var cur = document.getElementById("vownr");
            for (var i = 0, length = radios.length; i < length; i++) {
                if (radios[i].checked) {
                    cur.value = radios[i].value;
                    document.getElementById("vownr").innerHTML = cur.value;
                    cur.innerHTML = cur.value;
                    break;
                }
            }

        }

        function saveQuickQuote() {
            if (cgdata.length > 0) {
                cgdata = [];
            }
            for (i = 0; i < eleArray.length; i++) {
                eleVal = eleArray[i].id.substring(0, 5);
                if (eleVal == "mnumb" || eleVal == "vival") {
                    if (eleVal == "mnumb") {
                        x = document.getElementById(eleVal);
                        y = x.value;
                        z = 6 - y.length;
                        for (j = 1; z >= j; j++) {
                            y = "0" + y;
                        }
                        x.value = y;
                    }
                    dropVal = document.getElementById(eleVal);
                    selectedVal = dropVal.value;
                }
                else if (eleVal == "Craft") {
                    craft = document.getElementById("CraftType");
                    selectedVal = craft.innerHTML;
                }
                else {
                    dropVal = document.getElementById(eleVal);
                    selectedVal = dropVal.options[dropVal.selectedIndex].value;
                }
                if (selectedVal == "") {
                    cgdata.push("null");
                }
                else if (eleArray[i].classList.contains("hidden") && selectedVal != craft.innerHTML) {
                    cgdata.push("null");
                }
                else {
                    cgdata.push(selectedVal);
                }
            }
            premium = document.getElementById("indiQuote").innerHTML;
            cgdata.push(premium);
        }

        function addCGData() {
            var fn = document.getElementById("fname").value;
            var sn = document.getElementById("sname").value;
            var em = document.getElementById("email").value;
            var vo = document.getElementById("vownr").innerHTML;
            var hp = document.getElementById("hphon").value;
            var mp = document.getElementById("mphon").value;
            cguser = [fn, sn, em, vo, hp, mp];
            if (cgdata.length > 9) {
                cgdata.length = 9;
            }
            for (i = 0; i < cguser.length; i++) {
                if (cguser[i].length > 0) {
                    cgdata.push(cguser[i]);
                }
                else {
                    cgdata.push("null");
                }
            }
        }

        function validationCheck(type) {
            //get boxes
            var indiQuoteSpan = document.getElementById("indiQuoteSpan");
            var quoteInc = document.getElementById("quoteIncludes");
            var next = document.getElementById("next");
            var j = 0; //counter
            for (i = 0; i < eleArray.length; i++) {
                if (eleArray[i].hidden == false) {
                    eleVal = eleArray[i].id.substring(0, 5); //eg. vtype,ctype,hcfig etc etc
                    if (eleVal == "mnumb" || eleVal == "vival") {
                        dropVal = document.getElementById(eleVal);
                        selectedVal = dropVal.value;
                    }
                    else if (eleVal == "Craft") {
                        continue;
                    }
                    else {
                        dropVal = document.getElementById(eleVal);
                        selectedVal = dropVal.options[dropVal.selectedIndex].value;
                    }
                    if (selectedVal.length <= 0) {
                        j += 1;
                        dropVal.classList.add("requiredVal");
                    }
                    else if (dropVal.classList.contains("requiredVal")) {
                        dropVal.classList.remove("requiredVal");
                    }
                }
            }
            if (j == 0) {
                if (type != 'call') {
                    quickQuote();
                }
                return true;
            }
            else {
                indiQuoteSpan.hidden = true;
                quoteInc.classList.hidden = true;
                next.classList.hidden = true;


                //indiQuoteSpan.classList.add("hidden");
                //quoteInc.classList.add("hidden");
                //next.classList.add("hidden");
                return false;
            }
        }

        function validationCheck2(type) {
            //for tab2
            var f = document.getElementById("fnamefgroup");
            var s = document.getElementById("snamefgroup");
            var e = document.getElementById("emailfgroup");
            var hm = document.getElementById("hphon");
            var Email = document.getElementById("email");
            var hhjg = Email.value;
            var mb = document.getElementById("mphon");
            var eleArray2 = [f, s, e];
            var z = 0;
            if (!(/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(Email.value))) {
                alert("You have entered an invalid email address!");
                return (false)
            }
	
            if (hm.value == "" && mb.value == "") { //if both are empty
                hm.classList.add("requiredVal");
                mb.classList.add("requiredVal");
                z += 1;
            }

            for (i = 0; i < eleArray2.length; i++) {
                eleVal = eleArray2[i].id.substring(0, 5);
                dropVal = document.getElementById(eleVal);
                selectedVal = dropVal.value;
                if (selectedVal.length <= 0) {
                    z += 1;
                    dropVal.classList.add("requiredVal");
                }
                else if (dropVal.classList.contains("requiredVal")) {
                    dropVal.classList.remove("requiredVal");
                }
            }
            if (z == 0 && type == 'pleaseCall') {
                addCGData();
                t2.classList.remove("active");

                $.ajax({
                    type: "POST",
                    url: "/Services/CoastGuardSelfRegCall",
                    data: { craftType: cgdata[0], membershipNumber: cgdata[1], boatType: cgdata[2], constructionType: cgdata[3], hullConfiguration: cgdata[4], mooredType: cgdata[5], trailered: cgdata[6], boatInsuredValue: cgdata[7], quickQuotePremium: cgdata[8], firstName: cgdata[9], lastName: cgdata[10], email: cgdata[11], orgType: cgdata[12], homePhone: cgdata[13], mobilePhone: cgdata[14] },
                })
                    .done(function (data, textStatus, jQxhr) {
                        SetCurrentTab('Tab5');
                        t5.classList.add("active");
                    })
                    .fail(function (jqXhr, textStatus, errorThrown) {
                        console.log(errorThrown);
                    });

            } else if (z == 0) {
                addCGData();
                t2.classList.remove("active");
                postCGData();
            }

        }
        function ResetPassword() {
            window.location.href = "/Account/ResetPassword";
        }

        function postCGData() {
              $('#getQuoteModal').show();
            var datae = {craftType: cgdata[0], membershipNumber: cgdata[1], boatType: cgdata[2], constructionType: cgdata[3], hullConfiguration: cgdata[4], mooredType: cgdata[5], trailered: cgdata[6], boatInsuredValue: cgdata[7], quickQuotePremium: cgdata[8], firstName: cgdata[9], lastName: cgdata[10], email: cgdata[11], orgType: cgdata[12], homePhone: cgdata[13], mobilePhone: cgdata[14] };

            $.ajax({
                type: "POST",
                url: '@Url.Action("CoastGuardSelfReg", "Services")',
                data: { craftType: cgdata[0], membershipNumber: cgdata[1], boatType: cgdata[2], constructionType: cgdata[3], hullConfiguration: cgdata[4], mooredType: cgdata[5], trailered: cgdata[6], boatInsuredValue: cgdata[7], quickQuotePremium: cgdata[8], firstName: cgdata[9], lastName: cgdata[10], email: cgdata[11], orgType: cgdata[12], homePhone: cgdata[13], mobilePhone: cgdata[14] },
                traditional: true,
            })
                .done(function (data, textStatus, jQxhr) {
                    $('#getQuoteModal').hide();

                    if (data) {
                        t3.classList.add("active");
                        $('#response pre').html(data);
                    }
                    else {
                        t4.classList.add("active");
                    }
                })
                .fail(function (jqXhr, textStatus, errorThrown) {
                    debugger;
                    console.log(errorThrown);
                });
        }

        function addZeroes(num) {
            var value = Number(num);
            num = num.toString();
            var res = num.split(".");
            if (res.length == 1 || res[1].length < 3) {
                value = value.toFixed(2);
            }
            return value;
        }

        function toTitleCase(str) {
            return str.replace(
                /\w\S*/g,
                function (txt) {
                    return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();
                }
            );
        }

        function updateLabel() {
            var ct = document.getElementById("CraftTypeDrop");
            document.getElementById("mnumb").value = "";
            document.getElementById("vival").value = "";
            document.getElementById("vtype").selectedIndex = 0;
            document.getElementById("ctype").selectedIndex = 0;
            document.getElementById("hcfig").selectedIndex = 0;
            document.getElementById("mtype").selectedIndex = 0;
            document.getElementById("hastr").selectedIndex = 0;
            ctselected = ct.options[ct.selectedIndex].text;
            document.getElementById("CraftType").innerHTML = ctselected;
              $('#qquotfgroup').show();
            //qq.classList.remove("hidden");
            reloadForm();
        }

        function updateOptions() {
            var ct = document.getElementById("vtype");
            var ctselected = ct.options[ct.selectedIndex].text;
            var c = document.getElementById("ctypefgroup");
            var h = document.getElementById("hcfigfgroup");
            if (ctselected == "Jetski") {
                //hidden-sm hidden-md
                //c.style.display === "block";
                //h.style.display == "none"
                c.hidden = true;
                h.hidden = true;
                $('#ctypefgroup').hide();
                $('#hcfigfgroup').hide();
            }
            else {
                 c.hidden = false;
                h.hidden = false;
                $('#ctypefgroup').show();
                $('#hcfigfgroup').show();
                //c.classList.remove("hidden");
                //h.classList.remove("hidden");
            }
        }

        function SetCurrentTab(tabPaneId) {
            $('.nav-tabs a[href="#' + tabPaneId + '"]').trigger("click");
            $('.nav-tabs a[href="#' + tabPaneId + '"]').trigger("reloadGrid");
        };

        function pleaseCallButton() {
            //var nextbtn = document.getElementById("nextButton");
            if (validationCheck()) {
                SetCurrentTab('tab2');
                saveQuickQuote();
               

                $('#nextButton').hide();
                document.getElementById("nextButton").hidden = true;

                 $('#vownrfgroup').hidden = true;
                $('#callMeNext').hidden = false;
                $('#vownrfgroup').hide();
                $('#callMeNext').show();
                 $('#nextsec').hide();
                //document.getElementById("nextButton").hide();
            }
        }

        function pleaseCallNext() {
            validationCheck2();
        }

        function quickQuote() {
            var insVal = document.getElementById("vival").value;
            var craftType = document.getElementById("CraftType").innerHTML;
            var qref = document.getElementById("qref");
            var indiQuoteSpan = document.getElementById("indiQuoteSpan");
            var quoteRes = document.getElementById("quoteResult");
            var quoteInc = document.getElementById("quoteIncludes");
            var v = document.getElementById("vtype");
            var c = document.getElementById("ctype");
            var h = document.getElementById("hcfig");
            var m = document.getElementById("mtype");
            var t = document.getElementById("hastr");
            var next = document.getElementById("next");
            var newQuote = document.getElementById("newQuote");
            var water = ["Berthed", "Moored"];
            var badCount = 0;
            var badTypes = ["Trimaran", "Other", "Swing", "Carbon fibre","Ferro cement/ cement"];
            var curTypes = [];
            var minPrem = 0;

            vtype = v.options[v.selectedIndex].text;
            ctype = c.options[c.selectedIndex].text;
            hcfig = h.options[h.selectedIndex].text;
            mtype = m.options[m.selectedIndex].text;
            hastr = t.options[t.selectedIndex].text;

            if (craftType == "Jetski") {
                curTypes.push(vtype, ctype, hcfig);
                minPrem = 500;
            }
            else if (craftType == "Roadtrailer") {
                curTypes.push(vtype, ctype, hcfig);
                minPrem = 250;
            }

            else if (craftType == "Stored") {
                curTypes.push(vtype, ctype, hcfig, hastr);
                minPrem = 250;

            }
            else if (craftType == "Berthed") {
                curTypes.push(vtype, ctype, hcfig);
                minPrem = 400;
            }
            else if (craftType == "Moored") {
                curTypes.push(vtype, ctype, hcfig, mtype);
                minPrem = 400;
            }
            quoteRes.hidden = false;
            $('#quoteResult').show();
            //quoteRes.classList.remove("hidden");

            for (i = 0; i < curTypes.length; i++) {
                if (badTypes.includes(curTypes[i])) {
                    badCount += 1;
                }
            }

            if (badCount > 0 || (craftType == "Roadtrailer" && insVal > 250000) || (craftType == "Stored" && insVal > 250000) || (vtype == "Jetski" && insVal > 100000) || (craftType == "Berthed" && insVal > 500000) || (craftType == "Moored" && insVal > 500000)) {
                ////qref.classList.remove("hidden");
                //$('#qref').show();
                 qref.hidden = false;
                $('#indiQuoteSpan').hide();
                $('#quoteInc').hide();
                $('#next').hide();

                //indiQuoteSpan.classList.add("hidden");
                //quoteInc.classList.add("hidden");
                //next.classList.add("hidden");
            }

            else {
                console.log("badCount = " + badCount);
                if (badCount < 1) {
                    $('#mnumb').attr('readonly', 'readonly');
                    $('#mnumb').disableSelection;
                    $('#vtype').attr('readonly', 'readonly');
                    $('#vtype').attr('disabled', 'true');
                    $('#ctype').attr('readonly', 'readonly');
                    $('#ctype').attr('disabled', 'true');
                    $('#hcfig').attr('readonly', 'readonly');
                    $('#hcfig').attr('disabled', 'true');
                    $('#vival').attr('readonly', 'readonly');
                    $('#vival').disableSelection;
                    $('#mtype').attr('readonly', 'readonly');
                    $('#mtype').attr('disabled', 'true');
                    $('#hastr').attr('readonly', 'readonly');
                    $('#hastr').attr('disabled', 'true');

                    $('#newQuote').show();
                    newQuote.hidden = false;

                    //newQuote.classList.remove("hidden");
                    $('#qref').hide();
                    $('#indiQuoteSpan').show();
                    $('#quoteInc').show();
                    $('#next').show();
                    next.classList.remove("hidden");
                    
                    qref.hidden = true;
                    indiQuoteSpan.hidden = false;
                    quoteInc.hidden = false;
                    next.hidden = false;

                    //qref.classList.add("hidden");
                    //indiQuoteSpan.classList.remove("hidden");
                    //quoteInc.classList.remove("hidden");
                    //next.classList.remove("hidden");
                }
            }

            if (vtype == "Jetski") {
                document.getElementById("rate").value = 0.03;
            }
            else if (water.includes(craftType)) {
                document.getElementById("rate").value = 0.008;
            }

            else {
                document.getElementById("rate").value = 0.0065;
            }

            var rate = document.getElementById("rate").value;
            var quote = insVal * rate;

            if (quote <= minPrem) {

                minPrem = (minPrem / 12) * 1.15; //Convert from p/a to p/m
                minPrem = Math.round(minPrem * 100) / 100; //round
                minPrem = addZeroes(minPrem);
                document.getElementById("indiQuote").innerHTML = minPrem;

            }
            else {
                quote = (quote / 12) * 1.15; //Convert from p/a to p/m
                quote = Math.round(quote * 100) / 100; //round
                quote = addZeroes(quote);
                document.getElementById("indiQuote").innerHTML = quote;
            }
        }

        function reloadForm() {
            var option = document.getElementById("CraftType").innerHTML;
            var cTypeDrop = document.getElementById("CraftTypeDrop");
            var cType = document.getElementById("CraftType");

            //Vessel Type Options
            var v4 = document.getElementById("Jetski");
            var v5 = document.getElementById("VOther");

            //Construction Type Options
            var c7 = document.getElementById("Cement");
            var c8 = document.getElementById("COther");

            //Hull Config Options
            var h4 = document.getElementById("HOther");

            //Moored Type Options
            var m2 = document.getElementById("Marina");

            //The Select elements
            var v = document.getElementById("vtypefgroup");
            var c = document.getElementById("ctypefgroup");
            var h = document.getElementById("hcfigfgroup");
            var m = document.getElementById("mtypefgroup");
            var t = document.getElementById("hastrfgroup");

            console.log(option);
            if (option == "Roadtrailer") {
                banner.src = "https://s3-us-west-1.amazonaws.com/mpak.proposalonline.com/images/CG_Header_MENUNew.jpg";
                v.hidden = false;
                v4.hidden = false;
                c.hidden = false;
                h.hidden = false;

                    $('#vtypefgroup').show();
                    $('#Jetski').show();
                    $('#ctypefgroup').show();
                    $('#hcfigfgroup').show();

                //v.classList.remove("hidden");
                //v4.classList.remove("hidden");
                //c.classList.remove("hidden");
                //h.classList.remove("hidden");

                m.hidden = true;
                t.hidden = true;
                v5.hidden = true;
                c7.hidden = true;
                c8.hidden = true;
                h4.hidden = true;


                    $('#mtypefgroup').hide();
                    $('#hastrfgroup').hide();
                    $('#VOther').hide();
                    $('#Cement').hide();
                    $('#COther').hide();
                    $('#HOther').hide();

                //m.classList.add("hidden");
                //t.classList.add("hidden");
                //v5.classList.add("hidden");
                //c7.classList.add("hidden");
                //c8.classList.add("hidden");
                //h4.classList.add("hidden");

            }
            if (option == "Stored") {
                banner.src = "https://s3-us-west-1.amazonaws.com/mpak.proposalonline.com/images/CG_Header_MENUNew.jpg";
                $('#vtypefgroup').show();
                $('#Jetski').show();
                $('#ctypefgroup').show();
                $('#hcfigfgroup').show();
                $('#hastrfgroup').show();

                
                v.hidden = false;
                v4.hidden = false;
                c.hidden = false;
                h.hidden = false;
                t.hidden = false;

                //v.classList.remove("hidden");
                //v4.classList.remove("hidden");
                //c.classList.remove("hidden");
                //h.classList.remove("hidden");

                m.hidden = true;

                $('#mtypefgroup').hide();

                //m.classList.add("hidden");

                $('#VOther').show();
                $('#Cement').show();
                $('#COther').show();
                $('#HOther').show();

                v5.hidden = false;
                c7.hidden = false;
                c8.hidden = false;
                h4.hidden = false;

                //v5.classList.remove("hidden");
                //c7.classList.remove("hidden");
                //c8.classList.remove("hidden");
                //h4.classList.remove("hidden");
            }
            if (option == "Berthed") {
                banner.src = "https://s3-us-west-1.amazonaws.com/mpak.proposalonline.com/images/CG_Header_MENUNew.jpg";
                v.hidden = false;
                $('#vtypefgroup').show();
                //v.classList.remove("hidden");

                v4.hidden = true;
                v5.hidden = true;

                $('#Jetski').hide();
                $('#VOther').hide();

                //v4.classList.add("hidden");
                //v5.classList.add("hidden");
                c.hidden = false;
                c7.hidden = false;
                c8.hidden = false;
                h.hidden = false;
                h4.hidden = false;

                $('#ctypefgroup').show();
                $('#Cement').show();
                $('#COther').show();
                $('#hcfigfgroup').show();
                $('#HOther').show();

                //c.classList.remove("hidden");
                //c7.classList.remove("hidden");
                //c8.classList.remove("hidden");
                //h.classList.remove("hidden");
                //h4.classList.remove("hidden");

                $('#mtypefgroup').hide();
                $('#Marina').hide();
                $('#hastrfgroup').hide();

                m.hidden = true;
                m2.hidden = true;
                t.hidden = true;

                
                //m.classList.add("hidden");
                //m2.classList.add("hidden");
                //t.classList.add("hidden");
            }
            if (option == "Moored") {
                banner.src = "https://s3-us-west-1.amazonaws.com/mpak.proposalonline.com/images/CG_Header_MENUNew.jpg";
                $('#vtypefgroup').show();
                $('#ctypefgroup').show();
                $('#hcfigfgroup').show();
                $('#mtypefgroup').show();

                v.hidden = false;
                c.hidden = false;
                h.hidden = false;
                m.hidden = false;


                //v.classList.remove("hidden");
                //c.classList.remove("hidden");
                //h.classList.remove("hidden");
                //m.classList.remove("hidden");

                $('#hastrfgroup').hide();
                $('#VOther').hide();

                t.hidden = true;
                v5.hidden = true;

                //t.classList.add("hidden");
                //v5.classList.add("hidden");

                $('#Cement').show();
                $('#COther').show();
                $('#HOther').show();

                c7.hidden = false;
                c8.hidden = false;
                h4.hidden = false;

                //c7.classList.remove("hidden");
                //c8.classList.remove("hidden");
                //h4.classList.remove("hidden");
                v4.hidden = false;

                $('#Jetski').show();
                //v4.classList.add("hidden");
            }
            if (option == "Multi") {
                banner.src = "https://s3-us-west-1.amazonaws.com/mpak.proposalonline.com/images/CG_Header_MENUNew.jpg";
                cTypeDrop.hidden = false;

                $('#CraftTypeDrop').show();

                cType.hidden = true;

                $('#CraftType').hide();

                //cTypeDrop.classList.remove("hidden");
                //cType.classList.add("hidden");
            }
        }

        //Fill Label with URL and change displayed Select Elements and their sub options when page is ready
        $(document).ready(function () {
            //var logo = document.getElementById("logo");
            //logo.removeChild(logo.children[0]);
            //logo.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 311.36 46.77"><defs><style>.cls-1a{fill:#85d2e3;}.cls-2a{fill:#0080b2;}.cls-3a{fill:#00afd3;}.cls-4a{fill:#004180;}</style></defs><title>18-1236_CA_Coastguard_Quick_Quote_Site Elements v1</title><polygon class="cls-1a" points="60.76 46.77 40.51 35.08 60.76 23.39 60.76 46.77"/><polygon class="cls-2a" points="20.25 46.77 0 35.08 20.25 23.39 20.25 46.77"/><polygon class="cls-3a" points="40.51 35.08 60.76 23.39 60.76 0 20.25 23.39 40.51 35.08"/><polygon class="cls-2a" points="81.01 35.08 60.76 23.39 81.01 11.7 81.01 35.08"/><polygon class="cls-3a" points="60.76 46.77 81.01 35.08 60.76 23.39 60.76 46.77"/><polygon class="cls-3a" points="20.25 0 0 11.69 0 35.08 20.25 23.39 20.25 0"/><polygon class="cls-4a" points="20.25 23.39 40.51 11.69 20.25 0 20.25 23.39"/><polygon class="cls-1a" points="20.25 46.77 40.51 35.08 20.25 23.39 20.25 46.77"/><polygon class="cls-4a" points="60.76 23.39 81.01 11.69 60.76 0 60.76 23.39"/><path class="cls-3a" d="M219.94,26.51c6.86-.8,11.77-5.38,11.77-12.22,0-4.15-3.06-11.24-13.64-11.24H201.46V43.72H208V8.25h8.43c5.87,0,8.57,2.85,8.57,6.77s-3,6.75-9.43,6.75h-7.05l17.52,22h8.12Z"/><path class="cls-3a" d="M171.83,3.05L155.49,43.72h6.77l4.37-11.34h17.11l4.37,11.34h7L179,3.05h-7.19Zm3.55,7.39,6.38,16.62h-13l6.44-16.62h0.21Z"/><path class="cls-3a" d="M126.59,34.8L113.76,3.06h-9.28V43.72h6.28V12h0.14l12.74,31.77h5.59l13.34-32h0.13v32h6.38V3.06h-9.15L126.79,34.8h-0.2Z"/><path class="cls-3a" d="M239,39.78a25.11,25.11,0,0,0,15,4.69c8.7,0,14.76-4.27,14.76-11.5,0-7-6.78-10.17-12.55-12.87-4.56-2.12-8.83-3.66-8.83-7.09s2.67-5.41,7.26-5.41A18.79,18.79,0,0,1,265.5,11l2.9-5a25.31,25.31,0,0,0-13.59-3.74c-8.69,0-14.32,4.35-14.32,10.92,0,6.78,6.62,9.68,12.13,12.2,5.22,2.4,9.21,4.22,9.21,7.92s-3.24,5.82-8,5.82c-6.19,0-10.82-3.63-11.58-4.15Z"/><path class="cls-3a" d="M304.77,3.05v16.6H283.41V3.05h-6.59V43.72h6.59V25h21.36V43.72h6.59V3.05h-6.59Z"/></svg>';

            var option = window.location.search;
            if (option.length != 0) {
                option = option.substr(1);
                option = toTitleCase(option);
                document.getElementById("CraftType").innerHTML = option;
            }
            var cTypeDrop = document.getElementById("CraftTypeDrop");
            var cType = document.getElementById("CraftType");
            var v4 = document.getElementById("Jetski");
            var v5 = document.getElementById("VOther");
            var c7 = document.getElementById("Cement");
            var c8 = document.getElementById("COther");
            var h4 = document.getElementById("HOther");
            var m2 = document.getElementById("Marina");
            var v = document.getElementById("vtypefgroup");
            var c = document.getElementById("ctypefgroup");
            var h = document.getElementById("hcfigfgroup");
            var m = document.getElementById("mtypefgroup");
            var t = document.getElementById("hastrfgroup");
            var banner = document.getElementById("banner");

            if (option == "Roadtrailer") {
                banner.src = "https://s3-us-west-1.amazonaws.com/mpak.proposalonline.com/images/CG_Header_MENUNew.jpg";
                $('#mtypefgroup').hide();
                $('#hastrfgroup').hide();
                $('#VOther').hide();
                $('#Cement').hide();
                $('#COther').hide();
                $('#HOther').hide();

                m.hidden = true;
                t.hidden = true;
                v5.hidden = true;
                c7.hidden = true;
                c8.hidden = true;
                h4.hidden = true;
                //m.classList.add("hidden");
                //t.classList.add("hidden");
                //v5.classList.add("hidden");
                //c7.classList.add("hidden");
                //c8.classList.add("hidden");
                //h4.classList.add("hidden");
            }
            if (option == "Stored") {
                banner.src = "https://s3-us-west-1.amazonaws.com/mpak.proposalonline.com/images/CG_Header_MENUNew.jpg";
                m.hidden = true;
                $('#mtypefgroup').hide();
                //m.classList.add("hidden");
            }
            if (option == "Berthed") {
                banner.src = "https://s3-us-west-1.amazonaws.com/mpak.proposalonline.com/images/CG_Header_MENUNew.jpg";
                $('#mtypefgroup').hide();
                $('#hastrfgroup').hide();
                $('#VOther').hide();
                $('#Marina').hide();
                $('#Jetski').hide();

                m.hidden = true;
                t.hidden = true;
                v5.hidden = true;
                m2.hidden = true;
                v4.hidden = true;
                //m.classList.add("hidden");
                //t.classList.add("hidden");
                //v5.classList.add("hidden");
                //m2.classList.add("hidden");
                //v4.classList.add("hidden");
            }
            if (option == "Moored") {
                banner.src = "https://s3-us-west-1.amazonaws.com/mpak.proposalonline.com/images/CG_Header_MENUNew.jpg";

                $('#hastrfgroup').hide();
                $('#Jetski').hide();
                $('#VOther').hide();

                t.hidden = true;
                v4.hidden = true;
                v5.hidden = true;
                //t.classList.add("hidden");
                //v4.classList.add("hidden");
                //v5.classList.add("hidden");

            }
            if (option == "Multi") {
                banner.src = "https://s3-us-west-1.amazonaws.com/mpak.proposalonline.com/images/CG_Header_MENUNew.jpg";

                $('#CraftTypeDrop').show();
                //cTypeDrop.classList.remove("hidden");

                $('#CraftType').hide();
                $('#vtypefgroup').hide();
                $('#ctypefgroup').hide();
                $('#hcfigfgroup').hide();
                $('#mtypefgroup').hide();
                $('#hastrfgroup').hide();
                $('#qquotfgroup').hide();

                cType.hidden = true;
                v.hidden = true;
                c.hidden = true;
                h.hidden = true;
                m.hidden = true;
                t.hidden = true;
                qq.hidden = true;

                //cType.classList.add("hidden");
                //v.classList.add("hidden");
                //c.classList.add("hidden");
                //h.classList.add("hidden");
                //m.classList.add("hidden");
                //t.classList.add("hidden");
                //qq.classList.add("hidden");

            }

        });
        
        /*
                    // Model i agree button
                    $("#i-agree").click(function () {
                        var $this = $("#terms");
                        if ($this.checked) {
                            $('#myModal').modal('toggle');
                        } else {
                            $this.prop('checked', true);
                            $('#myModal').modal('toggle');
                        }
                    });

                    // Validation
                    $(function () {
                        // Validation
                        $("#smart-form-register").validate({
                            // Rules for form validation
                            rules: {
                                username: {
                                    required: true,
                                },
                                email: {
                                    required: true,
                                    email: true
                                },
                                emailConfirm: {
                                    required: true,
                                    email: true,
                                    equalTo: '#email'
                                },
                                password: {
                                    required: true,
                                    minlength: 4,
                                    maxlength: 20
                                },
                                passwordConfirm: {
                                    required: true,
                                    minlength: 4,
                                    maxlength: 20,
                                    equalTo: '#password'
                                },
                                firstname: {
                                    required: false
                                },
                                lastname: {
                                    required: false
                                },
                                gender: {
                                    required: false
                                },
                                terms: {
                                    required: true
                                }
                            },

                            // Messages for form validation
                            messages: {
                                email: {
                                    username: 'Please enter your username'
                                },
                                email: {
                                    required: 'Please enter your email address',
                                    email: 'Please enter a VALID email address'
                                },
                                emailConfirm: {
                                    required: 'Please enter your email address one more time',
                                    email: 'Please enter a VALID email address',
                                    equalTo: 'Please enter the same email address as above'
                                },
                                password: {
                                    required: 'Please enter your password'
                                },
                                passwordConfirm: {
                                    required: 'Please enter your password one more time',
                                    equalTo: 'Please enter the same password as above'
                                },
                                terms: {
                                    required: 'You must agree with Terms and Conditions'
                                }
                            },

                            // Do not change code below
                            errorPlacement: function (error, element) {
                                error.insertAfter(element.parent());
                            }
                        });
                    });*/
    </script>

    
}
