<!-- MAIN CONTENT -->
<div id="content">

    <!-- row -->
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center error-box">

                        <p class="lead">
                            Unfortunately the passcode that you have entered is either incorrect or has expired. Please <a href="~/Account/Login">click this link to login again</a> and generate a new passcode.
                            <br />
                            To ensure a high level of security is maintained, the passcode you receive will be valid for 10 minutes. Please enter this code as soon as you receive it.
                        </p>

                    </div>
                </div>
            </div>

        </div>

        <!-- end row -->
    </div>

</div>
<!-- END MAIN CONTENT -->