<!-- MAIN CONTENT -->
<div id="content">

    <!-- row -->
    <div class="row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center error-box">

                        <p class="lead">
                            Unfortunately the account that you are trying to access has been locked by the RSA security system. 
                            <br />
                            This requires assistance from the Marsh IT Support team to be reset. 
                            <br />
                            The Marsh IT support team have been notified and Marsh will be in contact with you to let you know when this has been resolved. 
                            <br />
                            This is nothing to do with DealEngine - please do not file a ticket with DealEngine.
                        </p>

                    </div>
                </div>
            </div>

        </div>

        <!-- end row -->
    </div>

</div>
<!-- END MAIN CONTENT -->
