<div class="form-group">
    <div class="custom-control custom-checkbox">
        <input class="custom-control-input form-control" type="checkbox" name="conditional" id="conditional" form="templateform" onclick="ToggleContent()"/>
        <label class="custom-control-label" for="conditional">Question has a further conditional question</label>
    </div>
</div>
<div id="conditionalcontent" class="container invisible">
    <div class="form-group" id="trigger">

    </div>
    <div class="form-group">
        <div class="dropdown">
            <select id="conditionalquestiontype" name="conditionalquestiontype" class="form-select custom-select" onchange="DisplayConditionalTemplate()" form="templateform">
                <option value="" selected>Question Type</option>
                <option value="textTemplate">Text</option>
                <option value="dropdownTemplate">Drop Down</option>
                <option value="yesNoTemplate">Yes/No</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <input placeholder="Enter Question" type="text" name="conditionalquestion" id="conditionalquestion" class="form-control" form="templateform" />
    </div>
    <div class="form-group">
        <div class="dropdown">
            <select id="conditionalcontroltype" name="conditionalcontroltype" class="form-select custom-select" form="templateform">
                <option value="" selected>Control Type</option>
                <option value="text">Text</option>
                <option value="email">Email</option>
                <option value="number">Number</option>
            </select>
        </div>
    </div>
    <div class="invisible form-group" id="conditionaldropdownTemplate">
        <div class="form-group">
            <input placeholder="Enter dropdown value" type="text" name="conditionaldropdownvalue" id="conditionaldropdownvalue" class="form-control" form="templateform" />
        </div>
        <div class="form-group">
            <input placeholder="Enter dropdown value" type="text" name="conditionaldropdownvalue" id="conditionaldropdownvalue" class="form-control" form="templateform" />
        </div>
        <div class="form-group">
            <input placeholder="Enter dropdown value" type="text" name="conditionaldropdownvalue" id="conditionaldropdownvalue" class="form-control" form="templateform" />
        </div>
        <div class="form-group">
            <input placeholder="Enter dropdown value" type="text" name="conditionaldropdownvalue" id="conditionaldropdownvalue" class="form-control" form="templateform" />
        </div>
    </div>

    <div class="form-group">
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input form-control" type="checkbox" name="conditionalquestionreferunderwriting" id="conditionalquestionreferunderwriting" form="templateform" />
            <label class="custom-control-label" for="conditionalquestionreferunderwriting">Refer Underwriting</label>
        </div>
    </div>
    <div class="form-group">
        <div class="custom-control custom-checkbox">
            <input class="custom-control-input form-control" type="checkbox" name="conditionalrequired" id="conditionalrequired" form="templateform" />
            <label class="custom-control-label" for="conditionalrequired">Required</label>
        </div>
    </div>
</div>