@model DealEngine.WebUI.Models.InformationBuilderViewModel

<div class="form-group">
    <div class="dropdown">
        <select id="ruletype" name="ruletype" class="form-select" form="templateform">
            <option value="" selected>Rule Type</option>
            @foreach (var rule in Model.Rules)
            {
                <option value="@rule.Id">@rule.Description</option>
            }
        </select>
    </div>
</div>