<div class="form-group">
    <div class="dropdown">
        <select id="questiontype" name="questiontype" class="form-select" onchange="DisplayTemplate()" form="templateform">
            <option value="" selected>Question Type</option>
            <option value="textTemplate">Text</option>
            <option value="dropdownTemplate">Drop Down</option>
            <option value="yesNoTemplate">Yes/No</option>
        </select>
    </div>
</div>
<div class="form-group">
    <input placeholder="Enter Question" type="text" name="question" id="question" class="form-control" form="templateform" />
</div>
<div class="form-group">
    <div class="dropdown">
        <select id="controltype" name="controltype" class="form-select" form="templateform">
            <option value="" selected>Control Type</option>
            <option value="text">Text</option>
            <option value="email">Email</option>
            <option value="number">Number</option>
        </select>
    </div>
</div>
<div class="invisible form-group" id="dropdownTemplate">
    <div class="form-group">
        <input placeholder="Enter dropdown value" type="text" name="dropdownvalue" id="dropdownvalue" class="form-control" form="templateform" />
    </div>
    <div class="form-group">
        <input placeholder="Enter dropdown value" type="text" name="dropdownvalue" id="dropdownvalue" class="form-control" form="templateform" />
    </div>
    <div class="form-group">
        <input placeholder="Enter dropdown value" type="text" name="dropdownvalue" id="dropdownvalue" class="form-control" form="templateform" />
    </div>
    <div class="form-group">
        <input placeholder="Enter dropdown value" type="text" name="dropdownvalue" id="dropdownvalue" class="form-control" form="templateform" />
    </div>
</div>

<div class="form-group">
    <div class="custom-control custom-checkbox">
        <input class="custom-control-input form-control" type="checkbox" name="questionreferunderwriting" id="questionreferunderwriting" form="templateform" />
        <label class="custom-control-label" for="questionreferunderwriting">Refer Underwriting</label>
    </div>
</div>
<div class="form-group">
    <div class="custom-control custom-checkbox">
        <input class="custom-control-input form-control" type="checkbox" name="required" id="required" form="templateform" />
        <label class="custom-control-label" for="required">Required</label>
    </div>
</div>