@model DealEngine.WebUI.Models.Programme.ActivityAttachVM

<div class="form-group">
    <label><strong>Select Programme</strong></label>
    @Html.DropDownListFor(m => m.SelectedProgramme, Model.BaseProgList, new { @class = "form-control form-select" })
</div>
