@model DealEngine.WebUI.Models.Agreement.ViewAgreementViewModel

@{
    var agreementStatus = Model.Status;
    var bypassreferral = Model.Isprogrammebypassrefferal;
    string clientMessage = "";
    bool Isenablebacktoclient = false;

    if ((agreementStatus == "Referred" || agreementStatus == "Authorised") && !bypassreferral)
    {
        clientMessage = @"Thank you for completing the information sheet.  Due to some answers in the information sheet, it has been referred to your broker and insurer for manual processing.  They will contact you with more information.  In the meantime if you have any questions, please contact your broker.  Please click on the 'Back to Dashboard' button below to go back to the dashboard.  Thank you.";

        if(Model.CurrentUser.PrimaryOrganisation.IsBroker || Model.CurrentUser.PrimaryOrganisation.IsTC || Model.CurrentUser.PrimaryOrganisation.IsInsurer)
        {
            Isenablebacktoclient = true;
        }

    }
    else
    {
        clientMessage = @"Thank you for completing the information sheet.";
    }

}


<div class="card">

    <div class="card-body">
        <div class="form-group">
            <strong>@clientMessage</strong>
        </div>
        <div class="form-group">
            <a class="btn btn-primary btn-xs" href="~/Home/Index" id="backbutton"><i class="fa fa-home"></i> Back to Dashboard</a>
        </div>
        @if (Isenablebacktoclient)
        {
          <div class="form-group">
			<a class="btn btn-primary btn-xs" href="~/Home/ViewSubClientProgrammes?clientProgrammeId=@Model.ClientProgrammeId" id="backbutton"><i class="fa fa-random"></i> Back to Client</a>
          </div>
        }

        <div class="form-group nonsubmitted">
            <div class="input-group">
                <p>On behalf of all proposed Insureds I/We declare and agree that:</p>
                <p>
                    <ol>
                        @Html.Raw(Model.Declaration)
                    </ol>
                </p>
            </div>
        </div>

        <div class="form-group nonsubmitted">
            <label class="radio">
                <a>
                    <input id="agreementAccept" name="radio" type="radio">
                    <i></i>Yes, I accept the offered Agreement
                </a>
            </label>
        </div>
        <div class="form-group nonsubmitted">
            <label class="radio">
                <a>
                    <input id="agreementDecline" name="radio" type="radio" data-bs-toggle="modal" data-bs-target="#advisoryModalDecline">
                    <i></i>No, I wish to decline the offered Agreement
                </a>
            </label>
        </div>

    </div>
</div>


@if (Model.Advisory != null)
{
    <div class="modal" id="advisoryModalDecline" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Advisory</h5>
                </div>
                <div class="modal-body">
                    @Html.Raw(Model.Advisory)
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="CloseAdvisory('@Model.InformationSheetId')">Ok</button>
                </div>
            </div>
        </div>
    </div>
}


@if ((Model.Status == "Referred" || Model.Status == "Authorised") && !bypassreferral)
{
    
    <script type="text/javascript">
        var prevbutton = document.getElementsByClassName("sw-btn-next");
        $(prevbutton).addClass("hidden");
        $(prevbutton).hide();

        $(".nonsubmitted").addClass("hidden");
    </script>
}
else
{
        

    <script type="text/javascript">
        var back = document.getElementById("backbutton");
        $(back).addClass("hidden");
        $(back).hide();
        $(".nonsubmitted").removeClass("hidden");
    </script>

}



