@model DealEngine.WebUI.Models.Policy.PolicySectionVM
@*  
    <script src="~/ckeditor/ckeditor5-techcertain/build/ckeditor.js"></script>
    <script src="~/ckeditor/ckeditor5-techcertain/build/selectimportimg.js"></script>
    <link href="~/ckeditor/ckeditor5-techcertain/build/ckeditor.css" rel="stylesheet" />
*@

<div id="content" style="background-color: #A6E2EF">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
                <!-- Widget ID (each widget will need unique ID)-->
                <div id="container">
                    <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false"
                         data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">

                        <header style="background-color:#EF4E45; color:white">
                            <h2>Document</h2>
                        </header>


                        <div role="content">
                            <!-- widget content -->

                            <div class="widget-body">
                                <form action="#" id="wizard-1" role="form" data-bs-toggle="validator" method="post" accept-charset="utf-8" novalidate="true">

                                    <!-- SmartWizard html -->
                                    <div id="CreateDocsmartwizard" class="sw-main sw-theme-circles">
                                        <ul class="nav nav-tabs step-anchor">
                                            <li class="nav-item active"><a href="#tab1" class="nav-link">1<br><small>Start</small></a></li>
                                            <li class="nav-item"><a href="#tab2" class="nav-link">2<br><small>Attach to Programme</small></a></li>
                                            <li class="nav-item"><a href="#tab3" class="nav-link">3<br><small>Settings</small></a></li>
                                            <li class="nav-item"><a href="#tab4" class="nav-link">3<br><small>Complete</small></a></li>
                                        </ul>

                                        <div class="sw-container tab-content">
                                            <div id="tab1" class="tab-pane step-content" style="display: block;">
                                                <h3><strong>Attach to Programme</h3>
                                                @Html.DisplayFor(m => m.Description)
                                            </div>
                                            <div id="tab2" class="tab-pane step-content">
                                                <br />
                                                <h3><strong>Details </strong> - Enter Term Text</h3>

                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">

                                                            <div class="col-md-10">
                                                                @Html.DisplayFor(m => m.Content)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div>
                                            <div id="tab3" class="tab-pane step-content">
                                                <br />
                                                <h3><strong>Options </strong> - Select Term Options</h3>

                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">

                                                            <div class="col-md-10">
                                                                @Html.DisplayFor(m => m.Options)
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="tab4" class="tab-pane step-content">
                                                <h3><strong>Success </strong> - New Policy Section created!</h3>
                                                <fieldset>
                                                    <div class="form-group">
                                                        <div class="col-md-2">
                                                            <div class="">
                                                                <h4></h4>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-10">
                                                            <div id="policydocstart-form" class="smart-form" novalidate="novalidate">
                                                                <div class="row">
                                                                    <h2>Congratulations</h2>
                                                                    <p>Your policy section has been successfully created.</p>
                                                                    <p>Click <a href="/Policy/SectionBuilder">here</a> to create a new section, or click <a href="/Policy/PolicyIndex">here</a> to view all available policy sections.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>

                                        </div>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

@section pagespecific {
    @*<script src="/Scripts/plugin/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
        <script src="~/Scripts/plugin/bootstrap-progressbar/bootstrap-progressbar.js" defer></script>
        <script src="~/smartwizard/js/jquery.smartWizard.min.js" defer></script>
        <link href="~/smartwizard/cc/smart_wizard_theme_circles.css" rel="stylesheet" />
        <script src="~/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="~/lib/popper.js/umd/popper.js"></script>*@

    @*<script src="~/smartwizard/js/jquery.smartWizard.min.js" defer></script>
        <link href="~/smartwizard/cc/smart_wizard_theme_circles.css" rel="stylesheet" />
        <script src="~/lib/popper.js/umd/popper.js"></script>*@


    <script src="~/jquery/jquery.js"></script>
    <script src="~/jqueryui/jquery-ui.js"></script>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script src="~/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/3.0.0/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/smartwizard/js/jquery.smartWizard.min.js" defer></script>
    <link href="~/smartwizard/cc/smart_wizard_theme_circles.css" rel="stylesheet" />
    <script src="~/ckeditor/ckeditor5-techcertain/build/ckeditor.js"></script>
    <script src="~/ckeditor/ckeditor5-techcertain/build/selectimportimg.js"></script>
    <link href="~/ckeditor/ckeditor5-techcertain/build/ckeditor.css" rel="stylesheet" />

    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!
       
        $(document).ready(function () {

            $('#CreateDocsmartwizard').smartWizard({
                selected: 0,  // Initial selected step, 0 = first step
                keyNavigation: true, // Enable/Disable keyboard navigation(left and right keys are used if enabled)
                autoAdjustHeight: false, // Automatically adjust content height
                cycleSteps: false, // Allows to cycle the navigation of steps
                backButtonSupport: true, // Enable the back button support
                useURLhash: true, // Enable selection of the step based on url hash
                lang: {  // Language variables
                    next: 'Next',
                    previous: 'Previous'
                },
                toolbarSettings: {
                    toolbarPosition: 'bottom', // none, top, bottom, both
                    toolbarButtonPosition: 'right', // left, right
                    showNextButton: true, // show/hide a Next button
                    showPreviousButton: true, // show/hide a Previous button

                },
                anchorSettings: {
                    anchorClickable: true, // Enable/Disable anchor navigation
                    enableAllAnchors: false, // Activates all anchors clickable all times
                    markDoneStep: true, // add done css
                    enableAnchorOnDoneStep: true // Enable/Disable the done steps navigation
                },
                contentURL: null, // content url, Enables Ajax content loading. can set as data data-content-url on anchor
                disabledSteps: [],    // Array Steps disabled
                errorSteps: [],    // Highlight step with errors
                theme: 'dots',
                transitionEffect: 'fade', // Effect on navigation, none/slide/fade
                transitionSpeed: '400'
            });

            $("#CreateDocsmartwizard").on("leaveStep", function (e, anchorObject, stepNumber, stepDirection) {
                debugger;
                var informationsheetstatus = $('#Status').val();
                var clientInformationSheet = $('#AnswerSheetId').val();


                if (stepNumber === 2) {
                    debugger;

                    var gdf = $("#wizard-1").serialize();

                    //var editorData = CKEDITOR.instances['Content'].getData();

                    //CKEDITOR.instances['Content'].updateElement();
                    //var hgfdd = document.getElementById('Content').value;
                    var hgshfds = GetContentJson();

                    var mergedData = { Description: GetDescriptionJson(), Content: GetContentJson(), Options: GetOptionsJson() };
                    var postData = JSON.stringify(mergedData);

                    // DO Ajax call to create the policy document
                    $.ajax({ url: "/Policy/SubmitTermSection", type: "POST", contentType: "application/json; charset=utf-8", data: postData })
                        .done(function (json) {
                            //var model = JSON.parse(json);
                            $('.wizard').wizard('next');
                        })
                        .fail(function (err) {
                            alert("Unable to save." + err.responseText);
                            $("#playerModal").modal("hide");
                        });



                }
            });


        });



    </script>

}