@model DealEngine.WebUI.Models.InformationViewModel

<form id="GeneralViewModel" class="is-valid" data-accordianId="Policy Effective Date">
    <div class="form-group">
        <div class="row">
            <div class="col-9">
                @Html.LabelFor(m => m.GeneralViewModel.PolicyDate)
            </div>
            <div class="col-3">                        
                @Html.TextBoxFor(m => m.GeneralViewModel.PolicyDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @id = "dateselected", @data_rule="DefaultEffectiveDate", onfocus = "(this.type='date')", onblur = "(this.type='text')", onchange = "OnChange(this.id, this.name)", @required = "" })
           
            </div>
        </div>
    </div>
</form>