@model DealEngine.WebUI.Models.InformationViewModel

 <form class="" >
        <div class="form-group" >
            <div class="row">
                <div class="col-2">
                    <label class="label">First Name </label>
                </div>
                <div class="col-3">
                    <input id="sharedFirstName" class="form-control" name="UserDetails.FirstName" placeholder="First Name" value="@Model.User.FirstName">
                </div>
                <div class="col-2">
                    <label class="label">Last Name </label>
                </div>
                <div class="col-3">
                    <input id="sharedLastName" class="form-control" name="UserDetails.LastName" placeholder="Last Name" value="@Model.User.LastName">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-2">
                    <label class="label">E-mail </label>
                </div>
                <div class="col-3">
                    <input id="sharedEmail" class="form-control" name="UserDetails.Email" placeholder="E-mail" value="@Model.User.Email">
                </div>
                <div class="col-2">
                    <label class="label">Phone </label>
                </div>
                <div class="col-3">
                    <input id="sharedPhone" class="form-control" name="UserDetails.Phone" placeholder="Phone" value="@Model.User.Phone">
                </div>
            </div>
        </div>
    </form>
