@model DealEngine.WebUI.Models.InformationViewModel

@using System.Linq

<div class="padding-10">
    <div id="proposalcreate-form" class="smart-form" novalidate="novalidate">
        <div id="BoatUsetabs">
            <ul id="tab" class="nav nav-tabs">
                <li class="nav nav-tabs active"> <a href="#boatUseTabs1"> List All </a> </li>
                <li class="nav nav-tabs"> <a href="#boatUseTabs2"> Edit </a> </li>
                <li class="nav nav-tabs"> <a href="#boatUseTabs3"> Add </a> </li>
                <li class="nav nav-tabs"> <a href="#boatUseTabs4" Class="UseRemoved"> List Removed </a> </li>
            </ul>
            <div id="boatUseTabs1" class="tab-content">
                <fieldset>
                    <div class="row">
                        <section class="col col-xs-12">
                            <script type="text/javascript">
                                $(window).on('load',function () {
                                    $("#tblBoatUse").jqGrid({
                                        url: "/Services/GetBoatUses?informationId=@Model.AnswerSheetId&removed=false",
						                datatype: "xml",
                                        mtype: "GET",
                                        async: true,
                                        colNames: ["","Vessel Use Category", ""],
                                        colModel: [
                                            {
                                                name: "update", align: 'center', search: false, formatter: function (cellvalue, options, rowobject) {
                                                    return ('<button onclick="EditBoatUse(\'bu\', \'' + cellvalue + '\'); SetCurrentTab(\'boatUseTabs2\');" type="button" class="btn btn-success btn-sm">Edit <i class="fa fa-edit"></i></button>' );
                                                }
                                            },
                                            { name: "BoatUseCategory", align: 'center' },
						                    { name: "update", align: 'center', search: false, formatter: function(cellvalue, options, rowobject)
                                            {
                                                return ('<button onclick="SetBoatUseRemovedStatus(\'' + cellvalue + '\', \'true\', \'#tblBoatUse\', \'#tblRemovedBoatUse\');" type="button"  class=" btn btn-danger btn-sm" id="trash"><span class="fa fa-trash"></span></button>');
										        }
									        }
								        ],
						                autowidth: true,
                                        pager: "#pagerBoatUse",
						                rowNum: 10,
						                rowList: [10, 20, 30],
                                        sortname: "BoatUseCategory",
						                sortorder: "desc",
						                viewrecords: true,
						                gridview: true,
						                autoencode: true
						            });
						            $("#tblBoatUse").jqGrid('navGrid',
						    	        '#pagerBoatUse',
						    	        {edit: false, add: false, del: false},
						    	        //options
						    	        {height:280,reloadAfterSubmit:false},
						    	        // edit options
						    	        {height:280,reloadAfterSubmit:false},
						    	        // add options
						    	        {reloadAfterSubmit:false},
						    	        // del options
						    	        {sopt:['eq','bw','cn']}
						    	        // search options
						            );
						        });
                            </script>
                            <table id="tblBoatUse"><tr><td></td></tr></table>
                            <div id="pagerBoatUse"></div>
                        </section>
                    </div>
                </fieldset>
            </div>
            <div id="boatUseTabs2" class="tab-content">
                <fieldset id="fieldset">
                    <input id="BoatUseId" class="b" name="BoatUseId" type="hidden">
                    <div class="row">
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">Vessel Use Category</label>
                            <label class="input">
                                <select onchange="vesselUseCategory()" class="form-control bu form-select" id="BoatUseCategory" name="BoatUseCategory">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="LiveOnBoard">Live on Board</option>
                                    <option value="Race">Race</option>
                                    <option value="NoRacingNoLiveOnBoard">NoRacingNoLiveOnBoard</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="validateBoatUseCategory"></p>
                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6" id="BoatUseLiveNotesSection" style="display:none;">
                            <label class="label">Additional Information About Boat Use</label>
                            <label class="textarea">
                                <textarea class="form-control bu" data-type="TEXTAREA" data-name="BoatUseLiveNotes" id="BoatUseLiveNotes" name="BoatUseLiveNotes" placeholder="Notes" value=""></textarea>
                            </label>
                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6" id="RaceCategorySection" style="display:none;">
                            <label class="label required">Race Category</label>
                            <label class="input">
                                <select class="form-control bu form-select" id="BoatUseRaceCategory" name="BoatUseRaceCategory">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="YachtClubSocialRacingupto50nm">Yacht Club Social Racing up to 50nm</option>
                                    <option value="Yachtracingupto200nm">Yacht racing up to 200nm</option>
                                    <option value="Oceangoingracingover200nm">Ocean going racing over 200nm</option>
                                    <option value="Category1Racing">Category 1 Racing</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="validateBoatUseRaceCategory"></p>
                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6" id="spinnakersSection" style="display:none;">
                            <label class="label required">Do you use spinnakers and/or extras?</label>
                            <label class="input">
                                <select class="form-control bu form-select" id="BoatUseRaceUseSpinnakers" name="BoatUseRaceUseSpinnakers">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="True">Yes</option>
                                    <option value="False">No</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="validateBoatUseRaceUseSpinnakers"></p>
                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6" id="BoatUseRaceNotesSection" style="display:none;">
                            <label class="label">Additional Information about Racing Use</label>
                            <label class="textarea">
                                <textarea class="form-control bu" data-type="TEXTAREA" data-name="BoatUseRaceNotes" id="BoatUseRaceNotes" name="BoatUseRaceNotes" placeholder="Notes" value=""></textarea>
                            </label>
                        </section>
                        <div class="row" id="update">
                            <section class="col col-xs-12">
                                <button onclick="ValidateBoatUse(event,'#boatUseTabs2', '#tblBoatUse','boatUseTabs1')" class="btn-sm updateBoat" id="updateBoat">Update</button>
                                <button onclick="ClearBoats(event,'#boatUseTabs2','boatUseTabs1')" class="btn-sm AddClearBoat" id="AddClearBoat">Cancel Update</button>
                            </section>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div id="boatUseTabs3" class="tab-content">
                <fieldset id="fieldset">
                    <input id="BoatUseId" class="b" name="BoatUseId" type="hidden">
                    <div class="row">
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            <label class="label required">Vessel Use Category</label>
                            <label class="input">
                                <select onchange="AddBoatUseCategory()" id="AddBoatUseCategory" name="BoatUseCategory" class="form-control bu form-select">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="LiveOnBoard">Live on Board</option>
                                    <option value="Race">Race</option>
                                    <option value="NoRacingNoLiveOnBoard">Not Racing, not living onboard</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="validateAddBoatUseCategory"></p>
                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6" id="AddBoatUseLiveNotesSection" style="display:none;">
                            <label class="label">Additional Information About Boat Use</label>
                            <label class="textarea">
                                <textarea class="form-control bu" data-type="TEXTAREA" data-name="BoatUseLiveNotes" id="BoatUseLiveNotes" name="BoatUseLiveNotes" placeholder="Notes" value=""></textarea>
                            </label>
                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6" id="AddRaceCategorySection" style="display:none;">
                            <label class="label required">Race Category</label>
                            <label class="input">
                                <select class="form-control bu form-select" id="AddBoatUseRaceCategory" name="BoatUseRaceCategory">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="YachtClubSocialRacingupto50nm">Yacht Club Social Racing up to 50nm</option>
                                    <option value="Yachtracingupto200nm">Yacht racing up to 200nm</option>
                                    <option value="Oceangoingracingover200nm">Ocean going racing over 200nm</option>
                                    <option value="Category1Racing">Category 1 Racing</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="validateAddBoatUseRaceCategory"></p>
                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6" id="AddspinnakersSection" style="display:none;">
                            <label class="label required">Do you use spinnakers and/or extras?</label>
                            <label class="input">
                                <select class="form-control bu form-select" id="AddBoatUseRaceUseSpinnakers" name="BoatUseRaceUseSpinnakers">
                                    <option selected="selected" value="">-- Select --</option>
                                    <option value="True">Yes</option>
                                    <option value="False">No</option>
                                </select>
                            </label>
                            <p class="validationContainer" id="validateAddBoatUseRaceUseSpinnakers"></p>
                        </section>
                        <section class="col col-xs-12 col-sm-6 col-md-6 col-lg-6" id="AddBoatUseRaceNotesSection" style="display:none;">
                            <label class="label">Additional Information about Racing Use</label>
                            <label class="textarea">
                                <textarea class="form-control bu" data-type="TEXTAREA" data-name="BoatUseRaceNotes" id="BoatUseRaceNotes" name="BoatUseRaceNotes" placeholder="Notes" value=""></textarea>
                            </label>
                        </section>
                        <div class="row" id="update">
                            <section class="col col-xs-12">
                                <button onclick="ValidateAddBoatUse(event,'#boatUseTabs3', '#tblBoatUse','boatUseTabs1')" class="btn-sm AddupdateBoat" id="updateBoat">Add</button>
                                <button onclick="ClearBoats(event,'#boatUseTabs3','boatUseTabs1')" class="btn-sm AddClearBoat" id="AddClearBoat">Clear and Cancel</button>
                            </section>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div id="boatUseTabs4" class="tab-content">
                <fieldset>
                    <div class="row">
                        <section class="col col-xs-12">
                            <script type="text/javascript">
                                $(".UseRemoved").click(function () {
                                $("#tblRemovedBoatUse").jqGrid({
                                    url: "/Services/GetBoatUses?informationId=@Model.AnswerSheetId&removed=true",
						            datatype: "xml",
                                    mtype: "GET",
                                    async: true,
                                    colNames: ["","Vessel Use Category"],
                                    colModel: [
                                        {
                                            name: "update", align: 'center', search: false, formatter: function (cellvalue, options, rowobject) {
                                                return '<button onclick="SetBoatUseRemovedStatus(\'' + cellvalue + '\', \'false\', \'#tblRemovedBoatUse\', \'#tblBoatUse\'); SetCurrentTab(\'boatUseTabs1\');" type="button"  class=" btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></button>';
                                            }
                                        },
                                        { name: "BoatUseCategory", align: 'center' },

								    ],
						            autowidth: true,
                                    pager: "#pagerRemovedBoatUse",
						            rowNum: 10,
						            rowList: [10, 20, 30],
                                    sortname: "BoatUseCategory",
						            sortorder: "desc",
						            viewrecords: true,
						            gridview: true,
						            autoencode: true
						        });
                                $("#tblRemovedBoatUse").jqGrid('navGrid',
						    	    '#pagerRemovedBoatUse',
						    	    {edit: false, add: false, del: false},
						    	    //options
						    	    {height:280,reloadAfterSubmit:false},
						    	    // edit options
						    	    {height:280,reloadAfterSubmit:false},
						    	    // add options
						    	    {reloadAfterSubmit:false},
						    	    // del options
						    	    {sopt:['eq','bw','cn']}
						    	    // search options
						        );
						    });
                            </script>
                            <table id="tblRemovedBoatUse"><tr><td></td></tr></table>
                            <div id="pagerRemovedBoatUse"></div>
                        </section>
                    </div>
                </fieldset>
            </div>
        </div>
      
        
    </div>
</div>
