@model DealEngine.WebUI.Models.InformationViewModel

<div class="padding-10">
    <div id="proposalcreate-form" class="smart-form" novalidate="novalidate">

        <div id="Boattabs" class="container-fluid  " style="">

            <input id="LocationId" name="LocationViewModel.LocationId" hidden form="LocationViewModel" />
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" id="tab1">
                    <a class="nav-link active" href="#boatTabs1" data-toggle="tab" onclick="ResetForm('boatTabs3', 'boatTabs2', 'Boat', 'BoatAddButton', 'BoatCancelButton')"> List All </a>
                </li>
                <li class="nav-item" id="tab2">
                    <a class="nav-link" href="#boatTabs2" data-toggle="tab"> Edit </a>
                </li>
                <li class="nav-item" id="tab2">
                    <a class="nav-link" href="#boatTabs3" data-toggle="tab" onclick="ResetForm('boatTabs3', 'boatTabs2', 'Boat', 'BoatAddButton', 'BoatCancelButton')"> Add </a>
                </li>
                <li class="nav-item" id="tab3">
                    <a class="nav-link" href="#boatTabs4" data-toggle="tab"> List Removed </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="boatTabs1" class="tab-pane active" role="tabpanel">
                    <div id="locationtab1" class="tab-pane active" role="tabpanel">
                        <table id="tblLocation"
                               class="table table-striped" width="100%"
                               @*data-show-columns="true"*@
                               data-pagination="true"
                               data-search="true"
                               data-show-jump-to="true">
                            <thead>
                                <tr>
                                    <th data-field="editButton" data-sortable="false"></th>
                                    <th data-field="jqgh_tblBoat_BoatName" data-sortable="true">Boat Name</th>
                                    <th data-field="jqgh_tblBoat_YearOfManufacture" data-sortable="true">Year</th>
                                    <th data-field="jqgh_tblBoat_MaxSumInsured" data-sortable="true">Sum Insured</th>
                                    <th data-field="deleteButton" data-sortable="false"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @*informationId=@Model.AnswerSheetId&validated=true&removed=false&transfered=false
                                Model.BoatUsesList.Where(l => l.Removed == false && l.validated = true && l.transfered = false).ToList()*@

                                @foreach (var boat in Model.ClientInformationSheet.Boats.Where(l => l.Removed == false).ToList())
                                {
                                    <tr id="@boat.Id">
                                        <td>
                                            <button class="btn btn-success btn-sm"><i class="fa fa-edit"></i> Edit</button>
                                        </td>
                                        <td>
                                            @boat.BoatName
                                        </td>
                                        <td>
                                            @boat.YearOfManufacture
                                        </td>
                                        <td>
                                            @boat.MaxSumInsured
                                        </td>
                                       
                                        <td>
                                            <button type="button" class=" btn btn-danger btn-sm" id="trash"><span class="fa fa-trash"></span></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id="boatTabs2" class="tab-pane" role="tabpanel">
                    <div class="form-group">
                        <label>Select a Vessel from the 'List All' Tab and Click Edit Button</label>
                    </div>
                </div>
                <div id="boatTabs3" class="tab-pane" role="tabpanel">

                </div>
                <div id="boatTabs4" class="tab-pane" role="tabpanel">

                </div>
            </div>
        </div>

    </div>
</div>
