@model BaseListViewModel<DealEngine.WebUI.Models.Agreement.ViewAgreementViewModel>

<!-- NEW WIDGET START -->
    <div class="container-fluid">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="card">
            <div class="card-header">
                <span class="widget-icon">
                    <h6><i class="fa fa-list-alt"></i> @ViewBag.Title </h6>
                </span>
            </div>
            <div id="pxpaysection" class="card-body">
                @foreach (var item in Model)
                {
                    if (item.IsMasterAgreement)
                    {
                       <div class="form-group">
                          @await Html.PartialAsync("Partials/ViewPxPayments", item)
                       </div>
                    }
                    
                }
                <div class="form-group">
                    <button onclick="submitPayment()" class="btn btn-primary">Pay now</button>
                </div>
            </div>
        </div>
    </div>

<style>

    #pxpaysection {
        margin-left: 0 !important;
    }
</style>