@model DealEngine.WebUI.Models.Agreement.ViewAgreementViewModel
<!-- NEW WIDGET START Test1 to identify -->
<div class="container-fluid">
    <!-- Widget ID (each widget will need unique ID test)-->
    <div class="card">
        <div class="card-header">
            <span class="widget-icon">
                <h6><i class="fa fa-list-alt"></i> @ViewBag.Title </h6>
            </span>
        </div>
        <div class="card-body">
            <div class="form-group">
                @Html.Raw(Model.AgreementMessage)
            </div>
        </div>
        <div class="card-body">
            <a class="btn btn-primary btn-xs" href="~/Home/Index" id="backbutton"><i class="fa fa-home"></i> Back to Dashboard</a>
        </div>
    </div>
</div>

@if (Model.ProgrammeStopAgreement == true)
{
    <script type="text/javascript">
        var nextbutton1 = document.getElementsByClassName("sw-btn-next");
        $(nextbutton1).addClass("hidden");
        $(nextbutton1).hide();
        var prevbutton = document.getElementsByClassName("sw-btn-prev");
        $(prevbutton).addClass("hidden");
        $(prevbutton).hide();
    </script>
}
else
{
    <script type="text/javascript">
        var nextbutton1 = document.getElementsByClassName("sw-btn-next");
        $(nextbutton1).removeClass("hidden");
        var prevbutton = document.getElementsByClassName("sw-btn-prev");
        $(prevbutton).removeClass("hidden");
    </script>
}
