@model BaseListViewModel<DealEngine.WebUI.Models.Agreement.ViewAgreementViewModel>

<!-- NEW WIDGET START -->
    <div class="container-fluid">
        <!-- Widget ID (each widget will need unique ID)-->
        <div class="card">
            <div class="card-header">
                <span class="widget-icon">
                    <h6><i class="fa fa-list-alt"></i> @ViewBag.Title </h6>
                </span>
            </div>
            <div id="pxpaysection" class="card-body">
                @{
                    var totalPremiums = 0d;
                    var totalbrokerageFee = 0d;

                    foreach (var item1 in Model)
                    {
                        var brokerageFee = item1.AdministrationFee.Substring(1);
                        totalbrokerageFee += double.Parse(brokerageFee);
                        foreach (var item2 in item1.RiskPremiums)
                        {
                            var premium = item2.TotalPremium.Substring(1);
                            totalPremiums += double.Parse(premium);
                        }
                        foreach (var item3 in item1.ExtensionCoverOptions)
                        {
                            var premium1 = item3.TotalPremium.Substring(1);
                            totalPremiums += double.Parse(premium1);
                        }
                    }
                }

                @foreach (var item in Model)
                {
                    if (item.IsMasterAgreement)
                    {
                        item.TotalPremium = totalPremiums.ToString("C");
                        item.TotalAdministrationFee = totalbrokerageFee.ToString("C");
                        <div class="form-group">
                            @await Html.PartialAsync("Partials/ViewPxPayments", item)
                        </div>
                    }

                }
                <div class="form-group">
                    <button onclick="submitPayment()" class="btn btn-primary">Pay now</button>
                </div>
            </div>
        </div>
    </div>

<style>

    #pxpaysection {
        margin-left: 0 !important;
    }
</style>