@model DealEngine.WebUI.Models.Agreement.AgreementTemplateViewModel

<div id="content">
    <!-- widget grid -->
    <section id="widget-grid" class="">
        <!-- row -->
        <div class="row">
            <!-- NEW WIDGET START -->
            <article class="col-sm-12 col-md-12 col-lg-12">
                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget" id="wid-id-1" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" 
                     data-widget-deletebutton="false" data-widget-custombutton="false" data-widget-sortable="false">
					
                    <header>
                        <h2>Create an Agreement</h2>
                    </header>

                    <div role="content">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <!-- end widget edit box -->
                        <!-- widget content -->
                        <div class="widget-body fuelux">
                            <div class="wizard">
                                <ul class="steps">
                                    <li data-bs-target="#step1" class="active">
                                        <span class="badge badge-info">1</span>Start<span class="chevron"></span>
                                    </li>
                                    <li data-bs-target="#step2">
                                        <span class="badge">2</span>Information Sheet<span class="chevron"></span>
                                    </li>
                                    <li data-bs-target="#step3">
                                        <span class="badge">3</span>Products<span class="chevron"></span>
                                    </li>
                                    <li data-bs-target="#step4">
                                        <span class="badge">4</span>Terms<span class="chevron"></span>
                                    </li>
                                    <li data-bs-target="#step5">
                                        <span class="badge">5</span>Documents<span class="chevron"></span>
                                    </li>
                                    <li data-bs-target="#step6">
                                        <span class="badge">6</span>Parties<span class="chevron"></span>
                                    </li>
                                    <li data-bs-target="#step7">
                                        <span class="badge">7</span>Review<span class="chevron"></span>
                                    </li>
                                </ul>
                                <div class="actions">
							        <button type="button" class="btn btn-default btn-prev" disabled="disabled">
							            <i class="fa fa-arrow-left"></i>
							            Back
							        </button>
							        <button type="button" class="btn btn-default btn-next" data-last="Finish">
							            Continue
							            <i class="fa fa-arrow-right"></i>
							        </button>
                                </div>
                            </div>
                            <div class="step-content">
                            	<form class="form-horizontal" id="fuelux-wizard" method="post">
                    				@*@Html.ValidationBootstrap()*@
                                    <div class="step-pane active" id="step1">
                                        <h3><strong>Setup </strong> - New Agreement</h3>
                                        <!-- wizard form starts here -->
										@Html.Partial("Partials/DescriptionTab", Model)
                                    </div>
                                    <div class="step-pane" id="step2">
                                        <h3><strong>Information </strong> - Select Information Sheet</h3>
                                        <!-- wizard form starts here -->
										<fieldset>
											<div class="form-group">
												<label class="col-sm-2 control-label">Select an Information Sheet for this agreement</label>
										        <div class="col-sm-10">
										        	@* This helper function renders out the 'input-group' div automatically, no need to manually add it *@
											        @Html.DropDownListFor(m => m.SelectedInformationSheet, Model.InformationSheets)
										            <span class="help-block">Only Information Sheets that belong to your primary Organisation will be shown here.</span>
										        </div>
											</div>
										</fieldset>
                                    </div>
                                    <div class="step-pane" id="step3">
                                        <h3><strong>Products </strong> - Select Products</h3>
                                        <!-- wizard form starts here -->
										<fieldset>
											<div class="form-group">
												<label class="col-sm-2 control-label">Select products for this agreement</label>
										        <div class="col-sm-10">
										        	@* This helper function renders out the 'input-group' div automatically, no need to manually add it *@
											        @Html.ListBoxFor(m => m.SelectedProducts, Model.Products)
										            <span class="help-block">Only Products that belong to your primary Organisation will be shown here.</span>
										        </div>
											</div>
										</fieldset>
                                    </div>
                                    <div class="step-pane" id="step4">
                                        <h3><strong>Terms </strong> - Select Terms</h3>
                                        <!-- wizard form starts here -->

                                    </div>
                                    <div class="step-pane" id="step5">
                                        <h3><strong>Documents </strong> - Select Policy Documents</h3>
                                        <h3></h3>
                                        <!-- wizard form starts here -->
										
                                    </div>
                                    <div class="step-pane" id="step6">
                                        <h3><strong>Parties </strong> - Setup Interested Parties</h3>
                                        <!-- wizard form starts here -->
										
                                    </div>
                                    <div class="step-pane" id="step7">
                                        <h3><strong>Review</strong></h3>
                                        <!-- wizard form starts here -->
										<fieldset>
											<div>
										        Click Finish to finalize this Agreement. It will be automatically checked, and the results displayed below.
												<div id="productAutoReview"/>
										    </div>
										</fieldset>
                                    </div>
                            	</form>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>


@section pagespecific {
    <script type="text/javascript">

        // DO NOT REMOVE : GLOBAL FUNCTIONS!
        
        $(document).ready(function () {
	        $('#@(Html.IdFor(m => m.SelectedLanguages))').chosen( { width: '100%' } );
	        $('#@(Html.IdFor(m => m.SelectedProducts))').chosen( { width: '100%' } );

            // fuelux wizard
            var wizard = $('.wizard').wizard();

            wizard.on('finished', function (e, data) {
            	if (confirm("Are you sure you want to submit this product?"))
            	{
	                console.log("submitted!");
	                $.smallBox({
	                    title: "Congratulations! Your form was submitted",
	                    content: "<i class='fa fa-clock-o'></i> <i>1 seconds ago...</i>",
	                    color: "#5F895F",
	                    iconSmall: "fa fa-check bounce animated",
	                    timeout: 4000
	                });
	                //$("#fuelux-wizard").submit();
                }
            });

            wizard.on('change', function (e, data) {
            	if (data.direction == 'next') {
            		// validation here
                	console.log("next");
                    var $valid = $("#fuelux-wizard").valid();
                    if (!$valid) {
                        $validator.focusInvalid();
                        return false;
                    }
                    return true;
                }
            });

            $.validator.setDefaults({ ignore: ":hidden:not(select)" });
        });
    </script>
}