<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        autoReload="true"
        internalLogLevel="Info"
        internalLogFile="c:\temp\internal-nlog.txt">

    <!-- enable asp.net core layout renderers -->
    <extensions>
      <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <!-- the targets to write to -->
    <targets>
      <!-- Define target for Info level -->
      <target xsi:type="File" name="infoFile" fileName="c:\temp\info-${shortdate}.log"
              layout="${longdate} ${uppercase:${level}} ${message}"
              minlevel="Info" maxlevel="Info" />

      <!-- Define target for Debug level -->
      <target xsi:type="File" name="debugFile" fileName="c:\temp\debug-${shortdate}.log"
              layout="${longdate} ${uppercase:${level}} ${message}"
              minlevel="Debug" maxlevel="Debug" />

      <!-- Define target for Error level -->
      <target xsi:type="File" name="errorFile" fileName="c:\temp\error-${shortdate}.log"
              layout="${longdate} ${uppercase:${level}} ${message}"
              minlevel="Error" maxlevel="Error" />
    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
      <!-- Rules to map log levels to specific files -->
      <logger name="*" minlevel="Debug" writeTo="debugFile" />
      <logger name="*" minlevel="Info" writeTo="infoFile" />
      <logger name="*" minlevel="Error" writeTo="errorFile" />
    </rules>
  </nlog>
</configuration>