

@if (User.Identity.IsAuthenticated)
{

    <a class="btn btn-xs-icon btn-info" href="~/Account/Profile"><i class="fa fa-user" style="font-size:28px; margin-top:13px;"></i> Profile</a>
    <a class="btn btn-xs-icon btn-info" href="~/Home/Index"><i class="fa fa-home" style="font-size:28px; margin-top:13px;"></i> Dashboard</a>
    <a class="btn btn-xs-icon btn-info" href="~/Account/Logout" title="Sign Out" data-action="userLogout" data-logout-msg="You can improve your security further after logging out by closing this opened browser"><i class="fa fa-sign-out" style="font-size:28px;margin-top:13px;"></i> Logout</a>    
    if (!User.IsInRole("Client"))
    {
        <a class="btn btn-xs-icon btn-info" href="~/Home/Search"><i class="fa fa-search" style="font-size:28px;margin-top:13px;"></i> Search</a>
    }
}

<style>
     .btn-xs-icon {
        padding: .15rem .2rem;
        font-size: .750rem;
        line-height: .4;
        border-radius: .1rem;
      }
</style>