@{
//if (!Request.IsAuthenticated)
//{
//    ViewBag.PageId = "extr-page";
//    ViewBag.PageClass = "animated fadeInDown";
//}
}

@section topright{
    @*@if (!Request.IsAuthenticated && Html.DemoEnvironment()) {
        <span id="extr-page-header-space"> <span class="hidden-mobile">Need an account?</span> <a href="~/Account/Register" class="btn btn-danger">Create account</a> </span>
    }*@
}

<!-- MAIN CONTENT -->
<div id="content">
    <!-- row -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center error-box">
                        <h1 class="error-text tada animated"><i class="fa fa-times-circle text-danger error-icon-shadow"></i> Invalid Token</h1>
                        <h2 class="font-xl"><strong>Oooops, Something went wrong!</strong></h2>
                        <br />
                        <p class="lead semi-bold">
                            <strong>It looks as if you've tried to use a Password Reset that has either already been used or has expired.</strong><br><br>
                            For security reasons each Password Reset can only be used once, and expire after 24 hours if they haven't been used.<br>
                            If you need to reset your password, <a href="~/Account/ResetPassword">click here to request a new password reset.</a>.
                            <small>
                            </small>
                        </p>
                        @*<ul class="error-search text-center font-md">
            <li><a href="https://techcertain.com/helpdesk-form"><small>Please file a Helpdesk ticket <i class="fa fa-mail-forward"></i></small></a></li>
        </ul>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end row -->
</div>
<!-- END MAIN CONTENT -->
